<section class="container-banner-pages">

</section>

<section class="container-info-pages privay">
	<article class="">
		<h2 class="title-home white-title">
			Privacy Policy for Users and Referral Sources
		</h2>
		<hr>
		<p class="description-office-text">
			Officelist, LLC [Officelist, Officelist.com, the site, we, us] is committed to respecting your privacy and protecting any information you submit. This policy explains what information is collected, how this information is used and what we do to protect it. We make this Privacy Policy available to you to remove any concerns about supplying information to Officelist through forms, emails, phone, fax or regular mail. Please review our Privacy Policy carefully and visit this page periodically to review any changes or updates. This Policy will be updated periodically to adjust to better business practices and reflect our commitment to service. Please visit this page in the future to learn of any changes or updates made.
		</p>
	
		<h2 class="title-home white-title">
			Information Collection and Use
		</h2>
		<hr>
		<h4 class="title-detail">Information Collection</h4>
		<p class="description-office-text">
			Officelist, LLC is the sole owner of the information collected on Officelist.com. Officelist.com collects information from our users at several different points on our Web site. Business Centers and users alike enter information and are solely responsible for the veracity of the data entered. We will try to verify information but cannot guarantee its accuracy.
		</p>
		<h4 class="title-detail">Registration</h4>
		<p class="description-office-text">
			In order to access contact information for the locations that might serve them, users must first complete the registration form. During registration user is required to enter contact information such as company name, first and last name of contact, email address and phone number. We use this information to contact the user about services on our site for which he has expressed interest and to forward this information to Business Centers that might be able to service their specific needs. It is also required for the user to provide requirements information such as Monthly budget, Number of people, estimated length of occupancy and expected move in date. User is also required to select a unique password so we can provide a personalized experience on our site.
		</p>
		<h4 class="title-detail">Search</h4>
		<p class="description-office-text">
				We request information from the user on both our quick and advanced search forms. A user must provide information on the location of the Business Centers that might be considered for viewing so it can be referred to the appropriate locations.
		</p>
		<h4 class="title-detail">Information use</h4>
		<p class="description-office-text">
				Officelist.com gathers information to offer you the best available solution to your office needs. The site's main purpose is to find you temporary office space quickly, easily and for free. There is no charge for utilizing this site to find office space. Information gathered through the forms will be forwarded to the locations that might be able to provide you with service. Business Centers will then contact you to offer their services and compete for your business. We keep a record of all registrants to be able to follow-up on the progress of the referral.
				
				The site also keeps a log based on aggregated information which tells us about your experience reaching the site and while at it. Aggregated Information will be used exclusively by officelist.com. Collectively, this information helps us improve our service, the efficiency in our procedures and the effectiveness of our marketing efforts. This information is not cross-referenced with contact information entered.
		</p>
		<h4 class="title-detail">Profile</h4>
		<p class="description-office-text">We store information that we collect through cookies and log files to create a profile of our users. A profile is stored information that we keep on individual users that details their viewing preferences. Consequently, collected information is tied to the users' personally identifiable information to follow-up on progress and improve the content of the site for the user. This profile is used to tailor a user's visit to our Web site and to learn when a business is closed between the Business Center and a specific user. We do not share your profile with other third parties and listed Business Centers have agreed not to do so either.
			
		</p>
		<h4 class="title-detail">Cookies</h4>
		<p class="description-office-text">
				A cookie is a piece of data stored on the user's computer tied to information about the user. We use both session ID cookies and persistent cookies. For the session ID cookie, once users close the browser, the cookie simply terminates. A persistent cookie is a small text file stored on the user's hard drive for an extended period of time. Persistent cookies can be removed by following Internet browser help file directions. By setting a cookie on our site, users would not have to log in with a password more than once, thereby saving time while at our site. If users reject the cookie, they may still use our site. The only drawback to this is that the user will have to login every time they close their browser window and want to visit the site again.
				
				Some of our business partners may use cookies on our site. However, we have no access to or control over these cookies, once we have given permission for them to set cookies for advertising.
				
				This privacy statement covers the use of cookies by officelist.com only and does not cover the use of cookies by any partners.
		</p>
		<h4 class="title-detail">Log files</h4>
		<p class="description-office-text">
				Like most standard Web site servers we use log files. This includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks to analyze trends, administer the site, track user's movement in the aggregate, and gather broad demographic information for aggregate use. IP addresses, etc. are not linked to personally identifiable information.
		</p>
		<h2 class="title-home white-title">
				Communications from the Site
		</h2>
		<hr>
		<h4 class="title-detail">Special Offers and Updates</h4>
		<p class="description-office-text">
				We send all new members a welcoming email to verify password and username and to ensure the search results are available to users in their inboxes. Registered users will receive periodic follow-up emails to monitor the progress of the search. These communications will be done by email and phone. If we believe that a lease has been signed, we may contact the user by phone to confirm the agreement.
				
				If a user signs a lease with a business center and this lease expires, officelist.com will send an email as a courtesy to users reminding them of the advantages of finding temporary office space through the site. This is a one time communication.
		</p>
		<h4 class="title-detail">Service Announcements</h4>
		<p class="description-office-text">
				On rare occasions it is necessary to send out a strictly service related announcement. For instance, if our service is temporarily suspended for maintenance we might send users an email. Generally, users may not opt-out of these communications, though they can deactivate their account. However, these communications are not promotional in nature.
		</p>
		<h4 class="title-detail">Costumer Service</h4>
		<p class="description-office-text">
				We communicate with users on a regular basis to provide requested services and in regards to issues relating to their account or their search. Initial responses will be done via email. If a problem has not been solved or the email address is not valid, user may be contacted by phone to reach a successful conclusion to the service issue or to confirm a closing with a specific referred location.
		</p>
		<h2 class="title-home white-title">
				Sharing
		</h2>
		<hr>
		<h4 class="title-detail">Legal Disclaimer</h4>
		<p class="description-office-text">Though we make every effort to preserve user privacy, we may need to disclose personal information when required by law wherein we have a good-faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal process served on our Web site.</p>
		<h4 class="title-detail">Aggregate Information (non-personally identifiable)</h4>
		<p class="description-office-text">We do not share aggregated demographic information with our partners. To increase the number of locations available to users, we keep count of the number of visits, geographic location and other information that will serve as a general depiction of our activity. This is not linked to any personally identifiable information.</p>
		<h4 class="title-detail">These are the instances in which we will share users' personal information:s</h4>
		<p class="description-office-text">When we refer users to Business Centers, contact information and search criteria is shared. This ensures you get the best service and are approached by locations that can serve your office needs best. These Business Centers are not allowed to use personally identifiable information except for the purpose of providing these services.</p>
		<h2 class="title-home white-title">
				Business Transitions
		</h2>
		<hr>
		<p class="description-office-text">In the event Officelist, LLC goes through a business transition, such as a merger, being acquired by another company, or selling a portion of its assets, users' personal information will, in most instances, be part of the assets transferred.</p>
		<h2 class="title-home white-title">
				Choice/Opt-out
		</h2>
		<hr>
		<p class="description-office-text">Our users are given the opportunity to 'opt-out' of having their information used for purposes not directly related to our site at the point where we ask for information. For example, our registration form has an 'opt-out' mechanism so users who search for office space, but don't want any marketing material, can keep their email address off of our lists.
				Users of our site are always notified when their information is being collected by any outside parties. We do this so our users can make an informed choice as to whether or not they should proceed with services that require an outside party.</p>
		<h2 class="title-home white-title">
				Links
		</h2>
		<hr>
		<p class="description-office-text">This Web site contains links to other sites. Please be aware that we, Officelist, LLC, are not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information. This privacy statement applies solely to information collected by this Web site.</p>
		<h2 class="title-home white-title">
				Sourveys
		</h2>
		<hr>
		<p class="description-office-text">Our site might request information from users via surveys. Participation in these surveys is completely voluntary and the user therefore has a choice whether or not to disclose this information. The requested information typically includes contact information (such as name and company), demographic information (such as ZIP Code or City) and questions related to the experience while at the site or at the Business Center they work from. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site. Users' personally identifiable information is not shared with third parties unless we give prior notice and choice. Though we may use an intermediary to conduct these surveys or contests, they may not use users' personally identifiable information for any secondary purposes.</p>
		<h2 class="title-home white-title">
				Tell-A-Friend
		</h2>
		<hr>
		<p class="description-office-text">If a user elects to use our referral service for informing a friend about our site, we ask them for the friend's name and email address. Officelist.com will automatically send the friend a one-time email inviting them to visit the site. Officelist.com stores this information for the sole purpose of sending this one-time email and tracking the success of our referral program. The friend may contact Officelist.com at <a href="mailto:remove@officelist.com">remove@officelist.com</a> to request the removal of this information from our database.</p>
		<h2 class="title-home white-title">
				Security
		</h2>
		<hr>
		<p class="description-office-text">This Web site takes every precaution to protect our users' information. When users submit sensitive information via the Web site, their information is protected both online and off-line.

				If users have any questions about the security at our Web site, users can send an email to <a href="mailto:privacy@officelist.com">privacy@officelist.com</a>.</p>
		<h2 class="title-home white-title">
				Correcting/Updating/Deleting/Deactivating Personal Information
		</h2>
		<hr>
		<p class="description-office-text">
				If a user's personally identifiable information changes (such as ZIP Code, phone, email or postal address), or if a user no longer desires our service, we provide a way to correct, update or delete users' personally identifiable information. This can usually be done by emailing our Customer Support at <a href="mailto:cs@officelist.com">cs@officelist.com</a>.
		</p>
		<h2 class="title-home white-title">
				Terms and Conditions for Communications by OfficeList and its Members and Affiliates with Existing and Potential Customers
		</h2>
		<hr>
		<ul class="description-office-text">
				<li>OfficeList and its Members and Affiliates agree to identify themselves in all telephone communications with you</li>
				<li>You agree to receive telephone calls from OfficeList, its Members and Affiliates at the telephone number you provide, even if you have registered this number on a Do-Not-Call list</li>
				<li>OfficeList and its Members and Affiliates agree to provide you with a means to opt out of receiving further communications from OfficeList and its Members and Affiliates to the telephone number you provide</li>
				<li>You agree to receive telephone calls from OfficeList, its Members and Affiliates for the purpose of marketing and answering questions you have about OfficeList and its Members and Affiliates products and services</li>
				<li>If the telephone number you provide to OfficeList, its Members and Affiliates is for a cellular telephone or smartphone, you agree to receive telephone calls and text messages from OfficeList and its Members and Affiliates at that number</li>
				<li>You agree to receive e-mails from OfficeList, its Members and Affiliates advertising OfficeList and its Members and Affiliates products and services at the e-mail address you provide to OfficeList and its Members and Affiliates</li>
				<li>OfficeList, its Members and Affiliates agree to provide in any e-mails advertising OfficeList, its Members or Affiliates products and services a means for you to opt out of receiving further such e-mails</li>
				<li>You expressly agree to receive communications from OfficeList, its Members and Affiliates at the telephone number you provide that advertise products and services and which may be placed by an automatic telephone number dialing system</li>
				<li>You expressly agree to receive telephone communications at the telephone number you provide that contain pre-recorded messages from OfficeList, its Members and Affiliates concerning products and services, and OfficeList, its Members and Affiliates agrees to provide a means for you to opt out of receiving future pre-recorded messages</li>
				<li>OfficeList, its Members and Affiliates agrees that your express consent to receive communications by telephone marketing products and services under these Terms and Conditions is not a condition of your purchase of products and services</li>
				<li>You agree to receive calls from OfficeList, its Members and Affiliates employees and contractors, as well as from third-party companies placing calls on behalf of OfficeList, its Members and Affiliates in accordance with these Terms and Conditions, and you agree to the recording of calls to or from you for quality of service and training purposes</li>
		</ul>
		<h2 class="title-home white-title">
				Notification of Changes
		</h2>
		
		<hr>
		<p class="description-office-text">Please visit this page periodically for updates on our Privacy Policy. However, if we are going to use users' personally identifiable information in a manner different from that stated at the time of collection we will notify users via email. Last revised, October 14, 2013.</p>
		<h2 class="title-home white-title">
				Contact Information
		</h2>
		<hr>
		<p class="description-office-text line-end">
				If users have any questions or suggestions regarding our privacy policy, please contact us at: <a href="mailto:privacy@officelist.com">privacy@officelist.com</a>
		</p>

	</article>
	<article>

	</article>
</section>