/* You can add global styles to this file, and also import other style files */
@import 'index';

.result-list-container {
    display: flex;
    margin: 0 auto 1rem;
    padding: 0;
    max-width: 1366px;
}

.area-filter-contaier,
.distance-filter-contaier,
.calendar-filter-contaier {
    background: colors('white');
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
    left: 4%;
    padding: 12px 12px 20px;
    position: absolute;
    top: 150px;
    width: 90%;
    z-index: 1;

    .close-filter-button {
        color: colors('black-7');
        font-size: 2rem;
        float: right;
        margin-bottom: 12px;
    }

    .distance-number-filter,
    .distance-title {
        text-align: center;
    }

    .distance-number-filter {
        color: colors('primary');
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 12px;
    }

    .distance-title {
        font-size: 0.9rem;
        line-height: 0;
        margin-bottom: 30px;
    }

    .slidecontainer {
        margin: 0 auto;
        position: relative;
        width: 90%;

        .distance-label {
            color: colors('black-6');
            font-size: 0.9rem;
            float: left;
            margin-top: 4px;
            width: 50%;
        }

        .slider-distance {
            background: colors('black-4');
            border-radius: 25px;
            height: 6px;
            outline: none;
            opacity: 0.6;
            transition: opacity .2s;
            width: 100%;

            &:hover {
                opacity: 1;
            }

            &::-webkit-slider-thumb {
                appearance: none;
                background: colors('primary');
                border: 2px solid colors('white');
                border-radius: 100%;
                box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
                height: 20px;
                width: 20px;
            }

            &::-moz-range-thumb {
                background: colors('primary');
                border: 2px solid colors('white');
                border-radius: 100%;
                box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
                height: 20px;
                width: 20px;
            }
        }
    }
}
.buttons-filters,
.category-filter-container {
    background: colors('white');
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}
.filter-container {
    margin: 1rem 0 0;
    padding: 0;
    position: relative;
    width: 100%;

    .show-map-container {
        float: left;
    }

    .button-icon-grid {
        float: right;
    }

    .button-icon-list {
        float: right;
    }

    .button-icon-filter {
        float: right;
    }

    .btn-icon {
		color: colors('black-5');
		font-size: 2rem;
		
    }
}

.btn-icon-filter {
    color: colors('black-6');
    font-size: 2rem;
    margin-right: 8px;

    &:hover,
    &:active,
    &:visited {
        color: colors('primary');
	}
}

.text-button-filter {
	font-size: 0.8rem;
	font-weight: 300;
	text-align: center;
}

.button-show-price {
    color: colors('primary');
    font-size: 1.4rem;
    text-align: left;
    position: relative;
    width: 100%;
}

.category-filter-container {
    box-shadow: none;
	margin-top: 10px;
	justify-content: space-around;
}

.office-list-card {
    display: flex;
    position: relative;

    .icon-star-office {
        background: url('assets/images/icons/icon-started.svg');
        background-size: cover;
        height: 34px;
        position: absolute;
        top: 0px;
        left: .5rem;
        width: 16px;
    }

    &.card-style {
		flex-direction: column;
		flex-grow: 1;
        padding: 0rem;
        width: 100%;

        .img-card-office {
			border-radius: 10px 10px 0 0;
			min-height: 176px;
			width: 100%;

			img {
				height: 177px;
			}
        }

        .info-office-container {
            width: 100%;
			padding: .5rem;
			position: relative;
        }

        .price-container {
            border-width: 1px 0;
            margin: 12px 0;
            padding: 4px 6px 0;
        }

        .btn-container {
            margin: 6px 0 1rem;
        }

        .like-container {
            right: .5rem;
            top: .5rem;
        }
    }

    &.list-style {
        flex-direction: row;
        padding: 0;
        width: 100%;

        .img-card-office {
            border-radius: 10px 0 0 10px;
            height: 100%;
            width: 40%;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .info-office-container {
            width: 60%;
            padding: 1rem 0 .5rem .5rem;
        }

        .title-name-office,
        .name-city {
            font-size: 1rem;
        }

        .price-container {
            border-width: 1px 0;
            margin: 12px 0;
            padding: 4px 6px;
        }

        .btn-container {
            margin-bottom: 0;
            padding: 0 .5rem 0 0;

            .button-default {
                font-size: 1.2rem;
                width: 100%;
            }
        }

        .like-container {
            right: 12px;
            top: 12px;
        }
    }

    .price-container {
        border-color: colors('black-2');
        border-style: solid;

        .zwicon-chevron-down {
            color: colors('black-6');
            font-size: 2rem;
            line-height: 0;
            position: absolute;
            right: 0;
            top: 14px;
        }
    }

    .list-prices-office {
        display: flex;
        flex-direction: row;
        margin: 4px 0 10px;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
            padding: 4px;
        }

        .price-office {
            color: colors('black-7');
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
        }

        .type-office {
            color: colors('black-5');
            font-size: 0.8rem;
            line-height: 1;
            text-align: center;
        }
    }

    .img-card-office {
        overflow: hidden;
        position: relative;

        .button-icon {
            background: colors('white-7');
            border-radius: 100%;
            font-size: 1rem;
            height: 30px;
            position: absolute;
            right: 12px;
            top: 12px;
            width: 30px;
        }
    }

    .text-default {
        font-size: 0.9rem;

        em {
            color: colors('black-6');
        }
    }

    .name-city {
        margin-bottom: 10px;
    }

    .phone-number {
        color: colors('black-7');
        font-size: 1.4rem;
        margin-top: 8px;
    }

    .like-container {
        height: 20px;
        position: absolute;
        width: 20px;
    }

    .btn-container {
        text-align: center;

        .button-default {
            margin: 0 0 4px;
        }
    }
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 .5rem;
}

.result-map-container {
    position: fixed;
    height: calc(100vh - 104px);
    width: 100%;
    z-index: 100;
	top: 104px;

	.close-map {
		position: absolute;
		z-index: 9;
		right: .5rem;
	}

	.close-button-map {
		background: colors('primary');
		border-radius: 100%;
		box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.2);
		color: colors('white');
		font-size: 2rem;
		line-height: 0;
		margin: 20px;
	}
}

.call-info-modal-container {
    top: 0;
    width: 100%;
	z-index: 20;
	height: 100%;
	position: absolute;

	.close-modal {
		position: absolute;
		z-index: 9;
		right: 1rem;
		top: 1rem;


		.close-button-modal {
			font-size: 2.2rem;
		}
	}
}

@include from-breakpoint('mobile-xl') {
    .office-list-card {
        .button-default {
            width: 50%;
        }
    }
}

@include from-breakpoint('tablet') {
    .result-container {
        padding: 0 1rem;
        justify-content: space-between;
    }

    .cards-result-office {
        display: flex;
        flex-wrap: wrap;
    }

    .office-list-card {
        &.card-style {
			margin-right: 20px;
			width: 46%;
			
			&:nth-child(2n) {
				margin: 0;
			}

			.title-name-office {
				height: 42px;
			}
        }

        .button-default {
            width: 80%;
        }

    }

    .show-map-container {
        margin-right: 44%;
    }

    .area-filter-contaier,
    .distance-filter-contaier,
    .calendar-filter-contaier {
        left: 15%;
        width: 70%;
        z-index: 10;
	}
	.call-info-modal-container {
		.close-modal {
			right: 26%;
		}
	}
}

@include from-breakpoint('desktop-s') {
    .info-city-list-container {
        margin-top: 0;
        padding-top: 0;
    }

    .container-header-mobile {
        background: url('assets/images/img-city-exmp.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 17rem;
        max-width: 100%;
        position: relative;
        width: 100%;

        .title-info-city {
            background: colors('white-7');
            bottom: 0;
            padding: 1rem;
            position: absolute;
            width: 100%;

            .title-pages,
            .text-intro {
                text-align: left;
                max-width: 1366px;
            }

            .title-pages {
                font-size: 2rem;
                margin-bottom: 10px;

            }
        }
    }

    .area-filter-contaier,
    .distance-filter-contaier,
    .calendar-filter-contaier {
        width: 40%;
    }

    .category-filter-container {
        padding: 14px 43% 14px 18%;
        justify-content: space-around;
    }


    .result-list-container {
        margin: 0 auto 1rem;
        max-width: 1366px;
    }

    .result-map-container {
        height: 500px;
		position: sticky;
		z-index: 1;
        width: 60%;
        padding-right: .5rem;
    }

    .buttons-filters {
        justify-content: space-between;
    }

    .office-list-card {
        .button-default {
            width: 90%;
        }
    }

    .filter-container {
        margin-top: 0;
        max-width: 1366px;
        margin: 0 auto;
        width: 100%;
    }

}

@include from-breakpoint('desktop-l') {
    .container-header-mobile {
        .title-info-city {

            .title-pages,
            .text-intro {
                margin: 0 auto;
            }
        }
	}
	
	.buttons-filters {
		padding: 0.5rem 6rem;
	}

	.category-filter-container {
		padding: 14px;
	}
}
