/* You can add global styles to this file, and also import other style files */
@import 'index';

.result-list-container {
	display: flex;
	flex-direction: column-reverse;
    margin: 0 0  20px;
    padding: 0;
}

.filter-container {
	margin: 20px 0 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.btn-icon-filter {
	color: colors('black-6');
	font-size: 2rem;
	margin-right: 8px;

	&:hover,
	&:active,
	&:visited {
		color: colors('primary');
	}
}

.button-show-price {
	color: colors('primary');
	font-size: 1.4rem;
	text-align: left;
	position: relative;
	width: 100%;
}

.category-filter-container {
    box-shadow: none;
    margin-top: 10px;
}

.office-list-card {
    display: flex;
	position: relative;
	
	.icon-star-office {
		background: url('assets/images/icons/icon-started.svg');
		background-size: cover;
		height: 34px;
		position: absolute;
		top:-6px;
		width: 16px;
		z-index: 1;
	}
	
    &.card-style {
        flex-direction: column;
        padding: 0 20px;

        .img-card-office {
            border-radius: 10px 10px 0 0;
        }

        .info-office-container {
            margin-top: 170px;
        }

        .price-container {
            border-width: 1px 0;
            margin: 12px 0;
            padding: 4px 6px;
        }

        .btn-container {
            margin: 6px 0 20px;
        }

        .like-container {
            right: 12px;
			top: 180px;
        }
    }
	
    &.list-style {
        flex-direction: column;
        padding: 20px 0;

        .img-card-office {
            border-radius: 10px 0 0 10px;
            height: 100%;
            position: absolute;
            top: 0;
            width: 40%;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
		}
		
		.list-prices-office {
			flex-direction: column;
		}

        .title-name-office {
            font-size: 1.2rem;
        }

        .price-container {
            border-width: 1px 0;
            margin: 12px 0;
            padding: 4px 6px;
        }

        .info-office-container,
        .price-container,
        .btn-container {
            margin-left: 44%;
            width: 52%;
        }

        .btn-container {
            margin-bottom: 0;

            .button-default {
                font-size: 1.2rem;
                width: 100%;
            }
        }

        .like-container {
            right: 12px;
            top: 12px;
        }
    }

    .price-container {
        border-color: colors('black-2');
		border-style: solid;
		
		.zwicon-chevron-down {
			color: colors('black-6');
			font-size: 2rem;
			line-height: 0;
			position: absolute;
			right: 0;
			top: 14px;
		}
    }

    .img-card-office {
        height: 160px;
        left: 0;
        overflow: hidden;
        position: absolute;
		
        .button-icon {
            background: colors('white-7');
            border-radius: 100%;
            font-size: 1rem;
            height: 30px;
            position: absolute;
            right: 12px;
            top: 12px;
            width: 30px;
        }
    }

    .text-default {
        font-size: 0.9rem;

        em {
            color: colors('black-6');
        }
    }

    .name-city {
        margin-bottom: 10px;
    }

    .phone-number {
        color: colors('black-7');
        font-size: 1.4rem;
        margin-top: 8px;
    }

    .btn-container {
        text-align: center;

        .button-default {
            margin: 0 0 4px;
        }
	}
}

.result-map-container {
	height: 250px;
	margin-bottom: 20px;
}

.call-info-modal-container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

@include from-breakpoint('mobile-xl') {
	.office-list-card {
		.button-default {
			width: 50%;
		}
	}
}

@include from-breakpoint('tablet') {
	.cards-result-office {
		display: flex;
		flex-wrap: wrap;
	}

	.office-list-card {
		&.card-style {
			flex-grow: 1;
			margin-right: 20px;

			&:nth-child(2n) {
				margin-right: 0px;
			}
		}

		.button-default {
			width: 80%;
		}

	}

	.area-filter-contaier,
	.distance-filter-contaier,
	.calendar-filter-contaier {
		left: 15%;
		width: 70%;
	}
}

@include from-breakpoint('desktop-s') {
	.result-list-container {
		flex-direction: row;
		margin: 0 auto 20px;
	}

	.result-container {
		margin-left: 20px;
		width: 56%;
	}

	.result-map-container {
		height: 600px;
		position: fixed;
		right: 10px;
		top: 20%;
		width: 40%;
		z-index: 5;
	}

	.buttons-filters,
	.category-filter-container {
		justify-content: flex-start;

		.show-map-container {
			margin-right: 40%;
		}
	}

	.office-list-card {
		.button-default {
			width: 90%;
		}
	}
	
}

@include from-breakpoint('desktop') {
	
}

@include from-breakpoint('desktop-l') {
	
}