<section class="info-city-list-container">
	<article class="container-header-mobile">
		<div class="title-info-city">
			<h1 class="title-pages">
				Office space for rent in {{city}}, {{state}}
			</h1>
			<p class="text-intro">
				There are currently 100 locations in {{city}}. Select the flexible office solutions you are interested
				in by marking them as “favorites”.
			</p>
		</div>
	</article>
	<!--Filtro-->
	<article class="filter-container" @ngIfAnimation>
		<div class="buttons-filters">
			<div class="show-map-container">
				<p class="text-show-map">Show map</p>
				<label class="switch-show-map">
					<input type="checkbox">
					<span class="slider-show-map" (click)="showMap()"></span>
				</label>
			</div>
			<div class="button-icon-grid">
				<button class="btn-icon" (click)="toogleGrid()">
					<i class="zwicon-grid"></i>
				</button>
			</div>
			<div class="button-icon-list">
				<button class="btn-icon" (click)="toogleGrid()">
					<i class="zwicon-list-bullet"></i>
				</button>
			</div>
			<div class="button-icon-filter">
				<button class="btn-icon" (click)="showFilters()">
					<i class="zwicon-filter"></i>
				</button>
			</div>
		</div>
		<div class="category-filter-container" *ngIf="allFilters">
			<button class="btn-icon-filter" (click)="showFilterArea()">
				<i class="zwicon-expand-alt"></i>
			</button>
			<button class="btn-icon-filter" (click)="showFilterDistance()">
				<i class="zwicon-expand"></i>
			</button>
			<button class="btn-icon-filter" (click)="showFilterCalendar()">
				<i class="zwicon-calendar-month"></i>
			</button>
		</div>
		<div class="area-filter-contaier" *ngIf="filterArea">
			<button class="close-filter-button" style="display:none;">
				<i class="zwicon-close"></i>
			</button>
		</div>
		<div class="distance-filter-contaier" *ngIf="filterDistance">
			<button class="close-filter-button">
				<i class="zwicon-close"></i>
			</button>
			<div class="slidecontainer">
				<input type="range" min="1" max="100" value="0" class="slider-distance" id="rangeDistance">
				<p class="distance-label">1M</p>
				<p class="distance-label text-rigth">1OOM</p>
			</div>
			<p class="distance-number-filter">
				100
			</p>
			<p class="distance-title">
				Miles
			</p>
		</div>
		<div class="calendar-filter-contaier" *ngIf="filterCalendar">
			<button class="close-filter-button">
				<i class="zwicon-close"></i>
			</button>
		</div>
	</article>
</section>
<section class="result-list-container">
	<!--List-->
	<article class="result-container">
		<ng-container *ngFor="let bc of bussinesCenter">
			<div class="office-list-card card-white" [ngClass]="listGrid ? 'list-style' : 'card-style'">
				<figure class="img-card-office">
					<i class="icon-star-office" *ngIf="bc.premium === 1"></i>
					<img src="{{bc.principalImage}}" alt="">
					<button class="button-icon" id="btn-list-search" (click)="showModalDetail()">
						<i class="zwicon-plus"></i>
					</button>
				</figure>
				<div class="info-office-container">
					<p class="text-default">Office</p>
					<h3 class="title-name-office">{{bc.cross_streets}}</h3>
					<p class="name-city">{{bc.city}}, {{bc.state}} {{bc.zipcode}}</p>
					<span class="badge-city">{{bc.area_name}}</span>
					<p class="phone-number">
						<i class="zwicon-phone"></i>
						{{bc.phone}}
					</p>

					<div class="price-container">
						<button class="button-show-price">
							<h3 class="title-price">
								Starting at :
							</h3>
							<i class="zwicon-chevron-down"></i>
						</button>
						<ul class="list-prices-office">
							<li>
								<p class="price-office">$800</p>
								<p class="type-office">Private office</p>
							</li>
							<li>
								<p class="price-office">$800</p>
								<p class="type-office">Coworking</p>
							</li>
							<li>
								<p class="price-office">$1234</p>
								<p class="type-office">Virtual office</p>
							</li>
						</ul>
					</div>
					<div class="btn-container">
						<button class="button-default primary">
							Get quote
						</button>
						<p class="text-default">
							<em>
								Call for pricing
							</em>
						</p>
					</div>
					<div class="like-container">
						<button class="button-icon-like">
							<office-list-svglikeheart></office-list-svglikeheart>
						</button>
					</div>
				</div>

			</div>
		</ng-container>

	</article>
	<!--Map-->
	<div class="result-map-container" *ngIf="mapShow">
		<div class="close-map">
			<button class="close-button-map" (click)="showMap()">
				<i class="zwicon-close"></i>
			</button>
		</div>
		<office-list-map></office-list-map>
	</div>
</section>

<div class="call-info-modal-container" *ngIf="detailOfficeInfo">
	<div class="close-modal">
		<button class="close-button-modal" (click)="showModalDetail()">
			<i class="zwicon-close"></i>
		</button>
	</div>
	<office-list-modal-detail></office-list-modal-detail>
</div>
