<ngx-spinner bdOpacity=0.5 bdColor="#ffffff" size="large" color="rgba(59, 164, 47, 1)" [fullScreen]="true"
	name="loadingPage">
	<p> Office List... </p>
</ngx-spinner>
<section class="info-city-list-container" *ngIf="bussinesCenter?.length > 0">
	<article class="container-header-mobile">
		<div class="title-info-city">
			<h1 class="title-pages">
				{{pageInfo?.title}}
			</h1>
			<p class="text-intro">
				{{pageInfo?.intro}}
			</p>
		</div>
	</article>
	<article class="container-header-desktop" [style.background-image]="'url(' + pageInfo?.image + ')'">
		<div class="title-info-city">
			<h1 class="title-pages">
				{{pageInfo?.title}}
			</h1>
			<p class="text-intro">
				{{pageInfo?.intro}}
			</p>
		</div>
	</article>
</section>
<section class="info-city-list-container not-found" *ngIf="bussinesCenter?.length === 0">
	<article class="container-header-mobile">
		<div class="title-info-city">
			<h2 class="title-home">
				No exact matches were found. Consider your spelling or try another term.
			</h2>
			<hr>
			<p class="not-found-input">
				<office-list-search-input></office-list-search-input>
			</p>
		</div>
	</article>
	<article class="container-header-desktop" [style.background-image]="'url(' + pageInfo?.image + ')'">
		<div class="title-info-city">
			<h2 class="title-home">
				No exact matches were found. Consider your spelling or try another term.
			</h2>
			<hr>
			<p class="not-found-input">
				<office-list-search-input></office-list-search-input>
			</p>
		</div>
	</article>
</section>

<section class="result-list-container" *ngIf="bussinesCenter?.length > 0">
	<article class="result-container">
		<!--Filter-->
		<div class="filter-container">
			<div class="buttons-filters">
				<div class="show-map-container">
					<p class="text-show-map" *ngIf="mapShow">Hide map</p>
					<p class="text-show-map" *ngIf="!mapShow">Show map</p>
					<label class="switch-show-map">
						<span class="slider-show-map" [ngClass]="{'active': mapShow}" (click)="showMap()"
							aria-label="Toogle Map"></span>
					</label>
				</div>
				<div class="button-icon-grid">
					<button class="btn-icon" (click)="hideGrid()" [ngClass]="{'active': !grid}"
						aria-label="On Grid View">
						<i class="zwicon-grid"></i>
						<p class="text-button-filter">Grid View</p>
					</button>
				</div>
				<div class="button-icon-list">
					<button class="btn-icon" (click)="showGrid()" [ngClass]="{'active': grid}"
						aria-label="On List View">
						<i class="zwicon-list-bullet"></i>
						<p class="text-button-filter">List View</p>
					</button>
				</div>
				<div class="button-icon-filter">
					<button class="btn-icon" (click)="toogleFilterArea()" [ngClass]="{'active': filterArea}"
						aria-label="Show Filters">
						<i class="zwicon-filter"></i>
						<p class="text-button-filter">Filters</p>
					</button>
				</div>
			</div>
			<div class="area-filter-contaier" *ngIf="filterArea && areas?.length > 0">
				<ng-select [items]="areas" [dropdownPosition]="'top'" [closeOnSelect]="true"
					placeholder="Select the area you are interested in" [searchable]="false" [(ngModel)]="selectedArea"
					(change)="changeSelect()">
				</ng-select>
				<div class="button-area-container" *ngIf="showClear">
					<button class="buttons-area-filter secondary" (click)="clearArea()" aria-label="Clear filter">
						Clear
					</button>
				</div>
			</div>
		</div>
		<!-- List -->
		<div class="card-container" [ngClass]="grid ? 'list-cards' : 'list-grid'" *ngFor="let bc of bussinesCenter">
			<office-list-bc-card [bc]="bc" [clientId]="clientId" [grid]="grid" [isDesktop]="isDesktop" [isList]="true" [isIP]="isIP">
			</office-list-bc-card>
		</div>
		<div class="spinner-container" #bottonTest style="width: 100%;" *ngIf="!noMore">
			<ngx-spinner name="loadingBC" color="rgba(59, 164, 47, 0.9)" bdColor="#ffffff" [fullScreen]="false"
				type="ball-clip-rotate-multiple" size="large"></ngx-spinner>
		</div>
		<div *ngIf="noMore && areas?.length > 0" class="no-more">
			<p class="no-more-title">You may be interested in these other areas.</p>
			<div class="no-more-list">
				<ng-container *ngFor="let item of areas">
					<button class="button-default secondary"
					(click)="noMoreSelect(item)">{{item}}</button>
				</ng-container>
			</div>
		</div>
	</article>
	<!--Map-->
	<div class="result-map-container" *ngIf="mapShow">
		<div class="close-map">
			<button class="close-button-map" (click)="showMap()" aria-label="Close Map">
				<i class="zwicon-close"></i>
			</button>
		</div>
		<office-list-map></office-list-map>
	</div>
</section>

<office-list-buttons-mobile></office-list-buttons-mobile>
