@import 'index';

.bc-list-container {
    display: flex;
    flex-direction: column;

    .bc-column-info {
        width: 100%;

        .bc-info {
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
        }

        .bc-city-title {
            font-size: 14px;
        }

        .bc-filter {
            background-color: colors('white');
            border: 1px colors('black') solid;
            font-size: 1rem;
            height: 35px;
            margin: 1rem 0;
            padding: 0.2rem 1rem;
            width: 100%;
        }

        .bc-num-result {
            color: colors('black-70');
            font-size: 12px;
            padding-bottom: 0.5rem;
            text-align: justify;
        }

        .bc-list {
            padding: 1rem 0;
        }

        .bc-card {
            border: 1px solid colors('black-18');
            display: flex;
            flex-direction: column;
            margin-bottom: 1.2rem;
            width: 100%;

            .bc-card-slider {
                width: 100%;
            }

            .bc-card-info {
                display: flex;
                flex-direction: column;
                padding: 0 0.5rem;
                width: 100%;

                .bc-title {
                    color: colors('black');
                    font-size: 14px;
                    font-weight: bold;
                    padding: 0.5rem 0;
                }

                .bc-street,
                .bc-city,
                .bc-area {
                    font-size: 12px;
                }

                .bc-description {
                    color: colors('black');
                    font-size: 10px;
                    line-height: 20px;
                    padding: 0.5rem 0;
                    text-align: justify;
                }
            }

            .bc-contact {
                padding: 0 0.5rem 1rem;
                width: 100%;

                .bc-price-list {
                    margin: 0.5rem 0;
                    width: 100%;

                    .bc-price-row {
                        font-size: 12px;

                        .bc-price-title {
                            padding: 0.25rem 0;
                        }

                        .bc-price {
                            padding: 0.25rem 0;
                            text-align: right;
                        }
                    }
                }

                .bc-tel {
                    padding: 0.5rem;
                    text-align: center;
                    width: 100%;

                    a {
                        color: colors('black');
                        font-size: 12px;

                        .zwicon-phone {
                            font-size: 12px;
                            padding-right: 0.3rem;
                        }
                    }
                }

                .bc-contact-btn {
                    background-color: colors('green-primary');
                    border-radius: 0.3rem;
                    color: colors('white');
                    font-size: 14px;
                    font-weight: bold;
                    padding: 0.5rem;
                    width: 100%;
                }
            }
        }
    }

    .bc-column-map {
        height: 100vh;
        width: 100%;
    }

    @include from-breakpoint('tablet') {
        .bc-column-info {
            padding: 0 1rem;

            .bc-info {
                flex-direction: row;
                padding: 1rem 0;
            }

            .bc-city-title {
                font-size: 16px;
                padding: 0.5rem 0;
                width: 70%;
            }

            .bc-filter {
                margin: 0;
                width: 30%;
            }

            .bc-num-result {
                font-size: 14px;
                padding-bottom: 0;
            }

            .bc-card {
                flex-direction: row;

                .bc-card-slider {
                    width: 25%;
                }

                .bc-card-info {
                    padding: 0.5rem;
                    width: 50%;

                    .bc-title {
                        font-size: 16px;
                        padding: 0 0 0.25rem;
                    }

                    .bc-street,
                    .bc-city,
                    .bc-area {
                        font-size: 14px;
                        padding: 0 0 0.25rem;
                    }

                    .bc-description {
                        font-size: 12px;
                    }
                }

                .bc-contact {
                    display: flex;
                    flex-direction: column;
                    padding: 0.5rem;
                    width: 25%;

                    .bc-price-list {
                        margin: 0;
                    }

                    .bc-tel a {
                        font-size: 14px;
                    }
                }
            }
        }

        .bc-column-map {
            width: 100%;
        }
    }

    @include from-breakpoint('desktop-s') {
        flex-direction: row;

        .bc-column-info {
            width: 70%;
        }

        .bc-column-map {
            position: sticky;
            right: 0;
            top: 50px;
            width: 30%;
        }
    }
}
