<div class="container-modal-default">
		<div class="modal-default-site big-modal">
			<div class="header-modal">
				<button class="btn-icon-transparent">
					<i class="zwicon-close"></i>
				</button>
			</div>
			<div class="body-modal">
				<i class="zwicon-user-circle"></i>
				<p class="intro-modal">Sign up for free to save your favorites and get full contact details and specials</p>
				<form action="login">
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Where*</label>
					</div>
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Full name*</label>
					</div>
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Company*</label>
					</div>
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Phone number*</label>
					</div>
					<div class="group-form">
						<textarea type="text" class="input-default textarea-input" required></textarea>
						<label for="" class="label-default">Comments</label>
					</div>
					<p class="text-end-forms-terms">You can provide more details on your search to help us better guide you.</p>
				</form>
				<div class="container-button-modal">
					<button class="button-default primary">Save your favorites</button>
				</div>
				<hr class="gray-line">
				<p class="text-end-forms">Returning to OfficeList? 
					<a href="">Log in</a>
				</p>
			</div>
		</div>
	</div>