<div class="container-modal-default">
	<div class="modal-default-site big-modal">
		<div class="header-modal">
			<button class="btn-icon-transparent" (click)="closeSingUp()">
				<i class="zwicon-close"></i>
			</button>
		</div>
		<div class="body-modal">
			<i class="zwicon-user-circle"></i>
			<p class="intro-modal">Sign up for free to save your favorites and get full contact details and specials</p>
			<office-list-form-register></office-list-form-register>
			<hr class="gray-line">
			<p class="text-end-forms">Returning to OfficeList?
				<button (click)="callLogin()">Log in</button>
			</p>
		</div>
	</div>
</div>
