@import 'index';

header {
    background: linear-gradient(to bottom, #484741, colors('black'));
    color: colors('white');
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    .menu-container {
        display: flex;
        padding: 20px 20px 18px;

        .logo-container {
            width: 60%;
        }

        .items-menu {
            text-align: right;
            width: 40%;
        }

        .button-icon {
            color: colors('white');
            font-size: 2rem;
            line-height: 1rem;
            margin-top: -5px;
        }

        #btn-nav-search,
        #btn-nav-user {
            display: none;
        }
    }

    .callus-container {
        background: colors('white');
        color: colors('black');
        font-size: 1.2rem;
        padding: 8px;
        text-align: center;

        .text-callus {
            font-weight: 300;

            .zwicon-phone {
                color: colors('primary');
                font-size: 1.4rem;
            }

            span {
                font-weight: 400;
            }
        }
    }
}
