<header>
    <nav class="page-container header-content" [ngClass]="status ? 'responsive' : 'danger'">
        <div class="item-nav">
            <img class="logo" src="assets/images/logo-officelist-dark.svg" alt="Office List logotype">
        </div>
        <div class="item-nav">
            <office-list-search-input class="search-input"></office-list-search-input>
        </div>
        <div class="item-nav">List your Office Space</div>
        <div class="item-nav"><a href="/login">Sign in</a></div>
        <div class="item-nav callus" *ngIf="!status">
            <p class="callus-text">Call us toll free at</p>
            <p>
                <a class="callus-phone" href="tel:1-866-354-5478">
                    1-866-354-5478
                </a>
            </p>
        </div>
        <button class="icon" (click)="openMenu()">
            <i class="zwicon-hamburger-menu"></i>
        </button>
    </nav>
</header>
