@import 'index';

header {
    background-color: colors('coffee-bg');
    color: colors('white');
    min-height: 40px;

    .header-content {
        overflow: hidden;

        .item-nav {
            width: 100%;
            padding: 14px 1rem;
            float: left;
            text-align: center;

            a {
                color: colors('white');
            }

            &:not(:first-child) {
                display: none;
            }
        }

        .logo {
            cursor: pointer;
            display: initial;
            max-width: 200px;
        }

        .search-input {
            width: 100%;
        }

        .icon {
            cursor: pointer;
            float: right;
            display: block;
            font-size: 35px;
            position: absolute;
            right: 0.8rem;
            top: 0.4rem;
            color: colors('white');
        }

        &.responsive {
            position: relative;

            .item-nav {
                float: none;
                display: block;
                text-align: center;
            }
        }
    }

    @include from-breakpoint('tablet') {
        min-height: 50px;

        .header-content {
            .item-nav {
                height: 50px;
                padding: 0.5rem 0;
                font-size: 14px;

                &:nth-child(1),
                &:nth-child(2) {
                    width: 27.5%;
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    width: 15%;
                }

                &:not(:first-child) {
                    display: block;
                }
            }

            .callus {
                background-color: colors('green-primary');
                padding-top: 0.5rem;
                line-height: 25px;
                font-size: 12px;

                .callus-text {
                    line-height: 1px;
                    margin-top: 0.5rem;
                }

                .callus-phone {
                    color: colors('white');
                    font-weight: 700;
                }
            }

            .logo {
                display: block;
                position: absolute;
                top: 0.5rem;
            }

            .icon {
                display: none;
            }
        }
    }

    @include from-breakpoint('desktop-l') {
        .header-content .item-nav {
            &:nth-child(3),
            &:nth-child(4) {
                line-height: 25px;
            }
        }
    }
}
