<header>
    <nav class="page-comtainer menu-container" @ngIfAnimation>
		<button class="button-icon mobile" (click)="showOptionsNav()" id="btn-nav-search">
			<i class="zwicon-search"></i>
		</button>
		<div class="logo-container" routerLink="/">
			<img src="assets/images/logo-officelist-dark.svg" alt="">
		</div>
		<div class="items-menu">
			<button class="button-icon desktop" (click)="showOptionsNav()" id="btn-nav-search">
				<i class="zwicon-search"></i>
			</button>
			<button class="button-icon" (click)="toogleSignUp()" id="btn-nav-user" >
				<i class="zwicon-user-circle"></i>
				<p class="budget-number" *ngIf="favoritesCount>0">{{favoritesCount}}</p>
			</button>
		</div>
		<div class="options-nav-container" *ngIf="optionsNav" @easeIn>
			<div class="search-nav-container" @easeIn>
				<office-list-search-input></office-list-search-input>
			</div>
		</div>
	</nav>
	<div class="callus-container">
		<p class="text-callus">
			<i class="zwicon-phone"></i>
			Call Us
			<span>1-866-354-5478</span>
		</p>
	</div>
</header>
<office-list-modal-singup *ngIf="showSignUp"></office-list-modal-singup>
<office-list-modal-login-search *ngIf="showLogin"></office-list-modal-login-search>
<office-list-modal-scheduled-tour *ngIf="showTour"></office-list-modal-scheduled-tour>
