<div class="contact-us-container">
	<div class="contact-header">
		<h2 class="title-home">Contact US</h2>
		<hr>
	</div>
	<div class="contact-text">
		<h2>
			Our team is always willing to help! Please complete the following contact form and one of our account
			managers will reply within one business day.
		</h2>
		<hr>
		<div>
			<h3>
				Call us
			</h3>
			<p>
				You can also call us at 1-866-354-5478 and we'll be happy to guide you through your office space search.
			</p>
		</div>
		<hr>
		<div>
			<h3>
				For further information, you can email the following
			</h3>
			<div class="email-info">
				<div>
					<h4>
						Partner Relations
					</h4>
					<a href="mailto:admin@officelist.com">admin@officelist.com</a>
				</div>
				<div>
					<h4>
						Communications
					</h4>
					<a href="mailto:news@officelist.com">
						news@officelist.com
					</a>
				</div>
				<div>
					<h4>
						CEO (Uddy Carmi)
					</h4>
					<a href="mailto:uddy@officelist.com">uddy@officelist.com</a>
				</div>
			</div>
		</div>

	</div>
	<div class="contact-form">
		<office-list-form-contact-us></office-list-form-contact-us>
	</div>
</div>
