<div class="container-modal-default container-modal-tour">
	<div class="modal-default-site big-modal">
		<div class="header-modal">
			<button class="btn-icon-transparent" (click)="closeTour()">
				<i class="zwicon-close"></i>
			</button>
		</div>
		<div class="body-modal">
			<i class="zwicon-calendar"></i>
			<div class="container-info-date">
				<p class="intro-modal">Sign up for free to save your favorites and get full contact details and specials
				</p>
				<office-list-form-register [tour]="tour" [bcId]='bcId'></office-list-form-register>
			</div>
		</div>
	</div>
</div>
