<div class="container-modal-default">
		<div class="modal-default-site big-modal">
			<div class="header-modal">
				<button class="btn-icon-transparent">
					<i class="zwicon-close"></i>
				</button>
			</div>
			<div class="body-modal">
				<i class="zwicon-calendar"></i>
				<div id="container-select-date" style="display: none;">
					<h2 class="title-modal">Scheduled a Tour</h2>
					<form action="login">
						<div class="group-form date-tour">
							<input type="date" class="input-default" required>
							<label for="" class="label-default">Where*</label>
							<i class="zwicon-calendar-month"></i>
						</div>
						<div class="group-form selectt">
							<select type="text" class="input-default" required>
								<option value="value">Select time to visit*</option> 
								<option value="value1">Value 1</option> 
								<option value="value2">Value 2</option>
							</select>
							<i class="zwicon-chevron-down"></i>
						</div>
					</form>
					<div class="container-button-modal">
						<button class="button-default primary">Schedule</button>
					</div>
				</div>
				<div class="container-info-date">
					<p class="intro-modal">Sign up for free to save your favorites and get full contact details and specials</p>
					<p class="text-date-tour">
							2019 Sunday, Oct 13 11:00 AM
					</p>
					<form action="login">
						<div class="group-form">
							<input type="text" class="input-default" required>
							<label for="" class="label-default">Full name*</label>
						</div>
						<div class="group-form">
							<input type="text" class="input-default" required>
							<label for="" class="label-default">Company*</label>
						</div>
						<div class="group-form">
							<input type="text" class="input-default" required>
							<label for="" class="label-default">E-mail*</label>
							</div>
						<div class="group-form">
							<input type="text" class="input-default" required>
							<label for="" class="label-default">Phone number*</label>
						</div>
						<div class="group-form">
							<textarea type="text" class="input-default textarea-input" rows="4" cols="50" required></textarea>
							<label for="" class="label-default">Comments</label>
						</div>
						<p class="text-end-forms-terms">You can provide more details on your search to help us better guide you.</p>
					</form>
					<div class="container-button-modal">
						<button class="button-default secondary-line">Back</button>
						<button class="button-default primary">Save your favorites</button>
					</div>
					<hr class="gray-line">
					<p class="text-end-forms">Returning to OfficeList?
						<a href="">Log in</a>
					</p>
					
				</div>
			</div>
		</div>
	</div>