// Default breakpoints
$breakpoints: (
    mobile-xl: 569px,
    tablet: 768px,
    desktop-s: 960px,
    desktop: 1024px,
	desktop-l: 1366px,
	desktop-xl: 1920px
);

//Z-index
$zindex: (
    'base': 1,
    'menu': 2,
);

$page-max-width: 1366px;

$font-family: 'Roboto', sans-serif;
