
@import 'index';

.icon-heart-like {
    fill: none;
    stroke: colors('black-6');

    &:hover {
        fill: colors('primary');
        stroke: none;
    }

    &.like-it {
        fill: colors('primary');
        stroke: none;

        &:hover {
            fill: none;
            stroke: colors('black-6');
        }
    }

    &.bg-green {
        background-color: colors('primary');
        stroke: white;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        padding: 24%;
        margin: 20px 2px;
    }
}
