@import 'index';

.autocomplete {
    z-index: 999;

    .ng-autocomplete {
        .autocomplete-container {
            border-radius: 50px;

            .input-container {
                input {
                    border-radius: 50px;
                }

                .x {
                    display: none;
                }
            }

            .suggestions-container {
                border-radius: 8px;
                margin-top: 10px;
            }
        }
    }
}
