@import "index";

.form-search {
	display: flex;
	width: 100%;

	@include from-breakpoint("tablet") {
		display: inline-flex;
	}
}

.input-search {
	border-bottom: 1px colors("green-primary") solid;
	width: 89%;
	font-size: 14px;
	height: 30px;

	@include from-breakpoint("tablet") {
		width: 80%;
	}
}

.button-locate {
	background-color: colors("green-primary");
	margin: 0 0.1rem;
	height: 30px;
	width: 30px;

	i {
		font-size: 25px;
	}
}
