<div class="autocomplete">
	<ng-autocomplete #auto [data]="data" [searchKeyword]="keyword" placeHolder="Where? Type city or zip/post code"
		[isLoading]="loading" [disabled]="disable" (selected)='selectEvent($event)'
		(inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
		[minQueryLength]="3" [notFoundTemplate]="notFoundTemplate">
	</ng-autocomplete>

	<ng-template #itemTemplate let-item>
		<a [innerHTML]="item.name"></a>
	</ng-template>

	<ng-template #notFoundTemplate let-notFound>
		<div [innerHTML]="notFound"></div>
	</ng-template>
	<button class="button-icon-input">
		<i class="zwicon-search"></i>
	</button>
</div>
<!--button class="button-icon-home">
	<i class="zwicon-my-location"></i>
</button-->
