@import 'index';

.autocomplete {
    position: relative;
    z-index: 2;
    width: 84%;

    .example-full-width {
        width: 100%;
    }

    .autocomplete-container {
        width: 100%;
        border-radius: 50px;

        .input-container {
            input {
                border-radius: 50px;
                font-size: 0.7rem;
                font-weight: 300;
            }

            .x {
                display: none;
            }
        }

        .suggestions-container {
            border-radius: 8px;
            margin-top: 10px;
        }
    }

    .button-icon-input {
        position: absolute;
        right: 20px;
        top: 8px;

        .zwicon-search {
            color: colors('primary');
            font-size: 1.4rem;
        }
    }
}

.button-icon-home {
    background: colors('primary');
    border-radius: 100%;
    color: colors('white');
    font-size: 1.6rem;
    height: 40px;
    line-height: 0;
    margin-left: 6px;
    width: 40px;
}

@include from-breakpoint('mobile-xl') {
    .autocomplete {
        .ng-autocomplete {
            .autocomplete-container {
                .input-container {
                    input {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@include from-breakpoint('desktop') {
    .autocomplete {
        width: 90%;
    }
}
