// theme
@import 'theme/index';

// abstracts
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

* {
    font-family: $font-family;
}
:root {
	--swiper-pagination-color: #3BA42F;
}

office-list-modal-login-search,
office-list-modal-singup,
office-list-modal-pressed-form {
    height: 100%;
	position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@include from-breakpoint ('mobile-xl') {
	.modal-default-site  {
		left: 10%;
		width: 80%;
	}
}


@include from-breakpoint ('tablet') {
	.modal-default-site  {
		left: 25%;
		width: 50%;
	}
}

@include from-breakpoint ('desktop') {
	.modal-default-site  {
		left: 35%;
		top: 20%;
		width: 30%;

		&.big-modal {
			top: 90px;
			left: 25%;
			width: 50%;	

			.body-modal {
				form {
					display: flex;
					flex-wrap: wrap;
					
					.group-form {
						flex-grow: 1;
						margin-left: 10px;
						margin-right: 10px;
					}
				}

				.container-button-modal {
					margin: auto;
					width: 50%;
				}
			}
		}
	}
}

@include from-breakpoint ('desktop-l') {
	.modal-default-site  {
		left: 38%;
		width: 24%;

		&.big-modal {
			top: 90px;
			left: 30%;
			width: 40%;

			.container-button-modal {
				margin: auto;
				width: 60%;
			}
		}
	}
}

@include from-breakpoint ('desktop-xl') {
	.modal-default-site  {
		&.big-modal {
			top: 90px;
			left: 35%;
			width: 30%;
		}
	}
}

