<div class="modal-info-container"  *ngIf="modalDetailInfo">
	<div class="card-modal-info card-white">
		<p class="text-default ">{{business.descriptive_title}}</p>
		<h3 class="title-name-office">{{business.cross_streets}}</h3>
		<p class="name-city">{{business.city}}, {{business.state}} {{business.zip_code}}</p>
		<p class="phone-number">
			<i class="zwicon-phone"></i>
			{{business.phone}}
		</p>
		<div class="body-modal-info">
			<figure class="img-card-office">
				<img appLazyLoad [src]="business.principalImage" alt="">
			</figure>
			<div class="prices-office">
				<h3 class="title-descrption">
					Starting at :
				</h3>
				<ul class="list-prices-office">
					<li *ngFor="let office of business.offices">
						<p class="price-office">${{office.off_pricing}}</p>
						<p class="type-office">{{office.off_type}}</p>
					</li>
				</ul>
			</div>
			<div class="description-office">
				<h3 class="title-description">
					Description
				</h3>
				<p class="text-description">
					{{business.detailed_intro}}
				</p>
			</div>
			<div class="view-more">
				<button class="button-default primary">
					<i class="zwicon-phone"></i> Call us
				</button>
				<button class="button-default secondary-line">
					<i class="zwicon-receipt"></i> Inquire
				</button>
			</div>
		</div>
	</div>
</div>
