@import 'index';

.modal-info-container {
    background: colors('black-8');
    padding: 1rem;
    height: 100%;

    .card-modal-info {
        margin: 0 auto;
        padding: 20px;
        width: 100%;

        .img-card-office {
            margin: 10px 0;
        }

        .body-modal-info {
            display: flex;
            flex-direction: column;

            .prices-office,
            .description-office,
            .view-more {
                margin-bottom: 10px;
            }

            .description-office {
                height: 110px;
                overflow: auto;
                padding-right: 4px;
            }

            .view-more {
                text-align: center;

                .button-default {
                    margin: 0;
                }
            }
        }

        .title-description {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 6px;

        }

        .list-prices-office {
            margin: 0;
        }
    }
}

@include from-breakpoint('tablet') {
	.modal-info-container {
		.card-modal-info {
			width: 50%;
		}
	}
}
