<div class="modal-info-container"  *ngIf="modalDetailInfo">
	<div class="card-modal-info card-white">
		<p class="text-default ">Office</p>
		<h3 class="title-name-office">SE 1st Ave & SE 2nd St</h3>
		<p class="name-city">Miami, FL 33131</p>
		<p class="phone-number">
			<i class="zwicon-phone"></i>
			{{bc.phone}}
		</p>
		<div class="body-modal-info">
			<figure class="img-card-office">
				<img src="assets/images/img-office-exmp.jpg" alt="">
			</figure>
			<div class="prices-office">
				<h3 class="title-descrption">
					Starting at :
				</h3>
				<ul class="list-prices-office">
					<li>
						<p class="price-office">$800</p>
						<p class="type-office">Private office</p>
					</li>
					<li>
						<p class="price-office">$800</p>
						<p class="type-office">Coworking</p>
					</li>
					<li>
						<p class="price-office">$1234</p>
						<p class="type-office">Virtual office</p>
					</li>
				</ul>
			</div>
			<div class="description-office">
				<h3 class="title-description">
					Description
				</h3>
				<p class="text-description">
					If an upscale office in a downtown location is what you seek, welcome to your new workspace at the
					72-story skyscraper once referred to as 'The Crown Jewel of Wall Street.' As a member, you'll be
					working in a historic landmark next to the most iconic buildings and businesses in the world. And
					that's not to mention the premium city and water views. Give your business one of the most prominent
					addresses in lower Manhattan with incredible city and water views. From the 28th and 29th floors,
					you'll look directly down at the facade of the New York Stock Exchange. Other location benefits
					include: - Secured lobby 24x7 - Walking distance to 2, 3, 4, 5, J and Z subway lines - Easy access
					to Pier 11 ferries - Near many upscale Chinese, Japanese and Italian restaurants A private office at
					our Wall Street location offers a secure, private and productive workspace to help you focus on your
					business instead of your office. Our private office options include interior and window offices in a
					range of sizes for individuals or teams as large as 15 people in a single office. We offer flexible
					terms in a simple, all-inclusive agreement so you get a predictable monthly bill with no surprises.
				</p>
			</div>
			<div class="view-more">
				<button class="button-default primary">
					<i class="zwicon-phone"></i> Call us
				</button>
				<button class="button-default secondary-line">
					<i class="zwicon-receipt"></i> Inquire
				</button>
			</div>
		</div>
	</div>
</div>
