<div class="container-modal-default">
	<div class="modal-default-site">
		<div class="header-modal">
			<button class="btn-icon-transparent" (click)="closeLogin()">
				<i class="zwicon-close"></i>
			</button>
		</div>
		<div class="body-modal">
			<i class="zwicon-user-circle"></i>
			<h2 class="title-modal">Welcome back</h2>
			<div *ngIf="error" class="intro-modal" >Please review the information </div>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="group-form">
					<input type="email" class="input-default" required formControlName="email"
					[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
					<label for="" class="label-default">Email</label>
				</div>
				<div class="group-form">
					<input type="password" class="input-default" required formControlName="password"
					[ngClass]="{ 'is-invalid': submitted && f.password.errors }">
					<label for="" class="label-default">Password</label>
					<button class="btn-icon-input">
						<i class="zwicon-eye"></i>
					</button>
				</div>
				<div class="container-button-modal">
					<button class="button-default primary" type="submit">Login</button>
				</div>
			</form>

			<p class="text-end-forms">Don't have an account?
					<button (click)="callSingUp()">Create an account</button>
			</p>
			<hr class="gray-line">
			<p class="text-end-forms">Office operator
				 <a href="https://bcadmin.officelist.com/">Log in</a>
				</p>
		</div>
	</div>
</div>
