@import '../../../styles/index';

.buttons-mobile-container {
    bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;

    .buttons-floating-cont {
        background: colors('primary');
        border-radius: 25px;
        box-shadow: 0 6px 10px 3px colors('black-2');
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 1rem;
        width: 90%;

        .btn-mobile-floating {
            color: colors('white');
            font-size: 1.3rem;
            font-weight: 300;
            width: 100%;
            position: relative;
            text-align: center;
            text-transform: uppercase;
        }
    }

    @include from-breakpoint('tablet') {
        display: none;
    }
}
