<div class="office-list-card card-white" [ngClass]="grid ? 'list-style' : 'card-style'">
	<figure class="img-card-office" *ngIf="!bc?.images" (click)="showModalDetail(bc?.buscenter_id)">
		<i class="icon-star-office" *ngIf="bc?.premium && bc?.premium === 1"></i>
		<office-list-image-component [image]="bc?.principal_image"></office-list-image-component>
		<button class="button-icon" *ngIf="isList" aria-label="Open details">
			Preview
		</button>
	</figure>
	<office-list-bc-slider *ngIf="bc?.images" [images]="bc?.images" [map]="true"></office-list-bc-slider>
	<div class="info-office-container">
		<p class="text-default"
			routerLink="/office-space-for-rent/us/{{bc?.state_name | normalizeString}}/{{bc?.city | normalizeString }}/office/{{ bc?.cross_streets | normalizeString }}-{{ bc?.buscenter_id}}">
			{{bc?.descriptive_title}}</p>
		<a class="title-name-office"
			routerLink="/office-space-for-rent/us/{{bc?.state_name | normalizeString}}/{{bc?.city | normalizeString }}/office/{{ bc?.cross_streets | normalizeString }}-{{ bc?.buscenter_id}}">
			{{ bc?.cross_streets }}
		</a>
		<p class="name-city">{{bc?.city}} {{bc?.state}}, {{bc?.zip_code}}
			<button *ngIf="isDesktop && isList" class="view-map" (click)="showInMap(bc?.buscenter_id)"
				(mouseenter)="bc.overMap=true" (mouseleave)="bc.overMap=false">
				<i class="zwicon-earth-alt"></i>
				<span class="hover-view" *ngIf="bc.overMap">View on map</span>
			</button>
			<button *ngIf="!isDesktop && isList" class="view-map" (click)="showInMap(bc?.buscenter_id)">
				<i class="zwicon-earth-alt"></i>
				<span class="hover-view">View on map</span>
			</button>
		</p>
		<span class="badge-city" *ngIf="bc?.area_name">{{bc?.area_name}}</span>
		<a class="phone-number" href="tel:{{bc?.phone | normalizePhone}}" *ngIf="bc?.phone && !myList">
			<i class="zwicon-phone"></i>
			{{bc?.phone}}
		</a>
		<a class="phone-number" href="tel:+18663545478" *ngIf="!bc?.phone && !myList">
			<i class="zwicon-phone"></i>
			1-866-354-5478
		</a>
		<a class="phone-number" href="tel:+7868716673" *ngIf="!bc?.phone && myList">
			<i class="zwicon-phone"></i>
			786-871-6673
		</a>
		<div class="price-container"
			routerLink="/office-space-for-rent/us/{{bc?.state_name | normalizeString}}/{{bc?.city | normalizeString }}/office/{{ bc?.cross_streets | normalizeString }}-{{ bc?.buscenter_id}}"
			*ngIf="bc?.offices && !myList">
			<button class="button-show-price" aria-label="Go to details">
				<h3 class="title-price">
					Starting at :
				</h3>
			</button>
			<ul class="list-prices-office">
				<li *ngFor="let office of bc?.offices">
					<p class="price-office">${{office.off_pricing}}</p>
					<p class="type-office">{{office.off_name}}</p>
				</li>
			</ul>
		</div>
		<div class="price-container call-pricing" *ngIf="!bc?.offices && !myList">
			<button class="button-show-price" aria-label="Go to details"
				routerLink="/office-space-for-rent/us/{{bc?.state | normalizeString}}/{{bc?.city | normalizeString }}/office/{{ bc?.cross_streets | normalizeString }}-{{ bc?.buscenter_id}}">
				<h3 class="title-price">
					Call For Pricing
				</h3>
			</button>
		</div>
		<div class="price-container" *ngIf="myList">
			<p>{{bc.company_name}}</p>
			<p>{{bc.first_name}} {{bc.last_name}}</p>
			<p>{{bc.email}}</p>
		</div>
		<div class="btn-container" *ngIf="!myList">
			<button class="button-default primary" (click)="callSingUp(bc?.buscenter_id)" aria-label="Inquire now">
				Inquire
			</button>
			<button class="button-default secondary-line" (click)="callTour(bc?.buscenter_id)" aria-label="Inquire now">
				Request Tour
			</button>
		</div>
		<div class="btn-container" *ngIf="myList">
			<div class="book-schedude" *ngIf="bc.tour">
				<i class="zwicon-checkmark-square"></i>
				<p>Tour schedule <br> <b>{{bc.tour}}</b></p>
			</div>
			<div class="book-tour-toast" *ngIf="!bc.tour">
				<div class="book-message">
					<i class="zwicon-exclamation-mark"></i>
					<p>Pending tour schedule</p>
				</div>
				<form [formGroup]="tourForm" (ngSubmit)="bookTour(bc?.buscenter_id)">
					<div class="group-form date-tour">
						<input type="text" required class="input-default" formControlName="tourDate"
							(focus)="myDatepicker.open()" [ngClass]="{ 'is-invalid': submitted && f.tourDate.errors }"
							[matDatepicker]="myDatepicker" [matDatepickerFilter]="disableWeekend" [min]="todayDate"
							id="tourDate">
						<label for="tourDate" class="label-default">Choose tour date*</label>
						<mat-datepicker #myDatepicker></mat-datepicker>
						<mat-datepicker-toggle class="datepicker-icon" matSuffix [for]="myDatepicker" #calendarIcon>
						</mat-datepicker-toggle>
					</div>
					<div class="group-form selectt">
						<select type="text" class="input-default" required formControlName="tourTime"
							[ngClass]="{ 'is-invalid': submitted && f.tourTime.errors }" id="tourTime">
							<option value="">Choose time of the tour*</option>
							<option value="08:00:00">08:00</option>
							<option value="08:15:00">08:15</option>
							<option value="08:30:00">08:30</option>
							<option value="08:45:00">08:45</option>
							<option value="09:00:00">09:00</option>
							<option value="09:15:00">09:15</option>
							<option value="09:30:00">09:30</option>
							<option value="09:45:00">09:45</option>
							<option value="10:00:00">10:00</option>
							<option value="10:15:00">10:15</option>
							<option value="10:30:00">10:30</option>
							<option value="10:45:00">10:45</option>
							<option value="11:00:00">11:00</option>
							<option value="11:15:00">11:15</option>
							<option value="11:30:00">11:30</option>
							<option value="11:45:00">11:45</option>
							<option value="12:00:00">12:00</option>
							<option value="12:15:00">12:15</option>
							<option value="12:30:00">12:30</option>
							<option value="12:45:00">12:45</option>
							<option value="13:00:00">13:00</option>
							<option value="13:15:00">13:15</option>
							<option value="13:30:00">13:30</option>
							<option value="13:45:00">13:45</option>
							<option value="14:00:00">14:00</option>
							<option value="14:15:00">14:15</option>
							<option value="14:30:00">14:30</option>
							<option value="14:45:00">14:45</option>
							<option value="15:00:00">15:00</option>
							<option value="15:15:00">15:15</option>
							<option value="15:30:00">15:30</option>
							<option value="15:45:00">15:45</option>
							<option value="16:00:00">16:00</option>
							<option value="16:15:00">16:15</option>
							<option value="16:30:00">16:30</option>
							<option value="16:45:00">16:45</option>
						</select>
						<!--label for="tourTime" class="label-default">Choose time of the tour*</!--label-->
					</div>
					<br>
					<button class="button-default primary" aria-label="Book now">
						Book Now
					</button>
				</form>

			</div>
		</div>
		<div class="like-container">
			<button class="button-icon-like" aria-label="Like button">
				<office-list-favorites-heart [bcId]="bc?.buscenter_id"></office-list-favorites-heart>
			</button>
		</div>
		<div class="admin-info-container" *ngIf="isIP">
			<h4>Bc Name : </h4> &nbsp;
			<p [innerHtml]="bc?.company_name"></p>
			<div class="admin-button-container">
				<button (click)="getNotes(bc)">
					<i class="zwicon-sticky-notes"></i>View Notes
				</button>
			</div>
			<div class="admin-button-container">
				<a href="http://admin.officelist.com/reports_bcs_details.php?bc={{bc?.buscenter_id}}" target="_blank">
					<i class="zwicon-link"></i>
				</a>
			</div>
			<div class="notes-result" *ngIf="bc?.isNote && bc?.note">
				<h3>Bc Notes</h3>
				<p [innerHtml]="bc?.note.notes"></p>
			</div>
		</div>
	</div>
</div>
<div class="call-info-modal-container" *ngIf="detailOfficeInfo">
	<office-list-modal-detail [businessId]="selectedBusiness"></office-list-modal-detail>
</div>
