@import 'index';

.bc-card-info {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    width: 100%;

    .bc-title {
        color: colors('black');
        font-size: 14px;
        font-weight: bold;
        padding: 0.5rem 0;
    }

    .bc-street,
    .bc-city,
    .bc-area {
        color: colors('black-50');
        font-size: 12px;
    }

    .bc-description {
        color: colors('black');
        font-size: 10px;
        line-height: 20px;
        padding: 0.5rem 0;
        text-align: justify;
    }
}

.bc-contact {
    padding: 0 0.5rem 1rem;
    width: 100%;

    .bc-price-list {
        margin: 0.5rem 0;
        width: 100%;

        .bc-price-row {
            border-bottom: 1px colors('black-50') dashed;
            color: colors('black-50');
            font-size: 12px;

            .bc-price-title {
                padding: 0.25rem 0;
            }

            .bc-price {
                padding: 0.25rem 0;
                text-align: right;
            }
        }
    }

    .bc-tel {
        padding: 0.5rem;
        text-align: center;
        width: 100%;

        a {
            color: colors('black');
            font-size: 12px;

            .zwicon-phone {
                font-size: 12px;
                padding-right: 0.3rem;
            }
        }
    }

    .bc-contact-btn {
        background-color: colors('green-primary');
        border-radius: 0.3rem;
        color: colors('white');
        font-size: 14px;
        font-weight: bold;
        padding: 0.5rem;
        width: 100%;
    }
}
