<div class="bc-slider-container">
	<aside class="bc-card-slider" #slider>
		<ng-container *ngFor="let img of images">
			<div class="bc-card-img" #item>
				<img appLazyLoad [src]="img.image_path">
			</div>
		</ng-container>
	</aside>
	<div class="bc-card-slider-btns">

		<button class="arrow-left" (click)="onClickLeft()">
			<i class="zwicon-arrow-circle-left"></i>
		</button>
		<button class="arrow-right" (click)="onClickRight()">
			<i class="zwicon-arrow-circle-right"></i>
		</button>
	</div>
</div>
