@import 'index';

.bc-card-slider {
    display: flex;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .bc-card-img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;

        img {
            height: 100%;
        }
    }
}

.bc-card-slider-btns {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    .arrow-left,
    .arrow-right {
        width: 35px;
        height: 100%;
        position: absolute;
        color: colors('green-primary');

        i {
            font-size: 35px;
        }
    }

    .arrow-right {
        right: 0;
    }
    @include from-breakpoint('tablet') {
        .arrow-left {
            color: colors('white');
            opacity: 0.5;
            position: absolute;
            cursor: pointer;

            &:hover {
                background: linear-gradient(
                    270deg,
                    rgba(0, 0, 0, 0.1) 0%,
                    rgba(0, 0, 0, 0.05) 50%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }

        .arrow-right {
            color: colors('white');
            opacity: 0.5;
            position: absolute;
            cursor: pointer;

            &:hover {
                background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0.1) 0%,
                    rgba(0, 0, 0, 0.05) 50%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }

        &:hover {
            .arrow-left,
            .arrow-right {
                color: colors('green-primary');
                opacity: 1;
            }
        }
    }
}
