@import '../../../styles/index';

.bc-slider-container {
    position: relative;
}

.bc-card-slider {
    display: flex;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0;
    }

    .bc-card-img {
        flex-shrink: 0;
        height: 100%;
        width: 100%;

        img {
            max-height: 190px;
            width: auto;
            margin: 0 auto;
        }
    }
}

.bc-card-slider-btns {
    position: absolute;
    top: calc(50% - 18px);
    width: 100%;

    button {
        line-height: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 40px;
        width: 40px;
        border-radius: 100%;
        font-size: 1.8rem;
        color: colors('white');
        padding: 2px;
    }

    .arrow-right {
        float: right;
        margin: 0 0.5rem;
    }

    .arrow-left {
        float: left;
        margin: 0 0.5rem;
    }
}
