<div class="bc-slider-container view-photos-detail" *ngIf="_images">
	<aside class="bc-card-slider" #slider>
		<ng-container *ngFor="let img of _images">
			<div class="bc-card-img" #item>
				<img appLazyLoad [src]="img.image_path" [ngClass]="{'fullImage': fullImage , 'mapImage': map}">
			</div>
		</ng-container>
	</aside>
	<div class="bc-card-slider-btns">

		<button class="arrow-left" (click)="onClickLeft()" *ngIf="slidesIndex > 0">
			<i class="zwicon-chevron-left"></i>
		</button>
		<button class="arrow-right" (click)="onClickRight()"*ngIf="slidesIndex != _images.length - 1">
			<i class="zwicon-chevron-right"></i>
		</button>
	</div>
</div>
