<section class="container-info-pages privay">
	<article class="">
		<h2 class="title-home white-title">
			Resources
		</h2>
		<hr>
		<p class="description-office-text">
			After spending 1,000s of hours assisting our clients identify and choose office space for their individual business needs, we decided to compile a resources section dedicated to providing helpful information about the different types of office space most commonly available and searched for.
		</p>
		<div class="type-office-container">
			<div class="type-office privatte-office">
				<div class="name-type-office">
					<p class="name-office">
						Private Office
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						A lockable, furnished office that guarantees you and your team privacy while benefiting from the
						amenities and services of a flexible office solution.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Growing and established companies that want their own space, work with sensitive information or
						people that want a bit more quiet to get things done.
					</p>
				</div>
			</div>
			<div class="type-office coworking">
				<div class="name-type-office">
					<p class="name-office">
						Coworking
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						An open office layout shared with other companies, freelancers and professionals. Choose from
						different workplace configurations such as hot desks and dedicated desks.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Startups, small teams, freelancers or part-time workers that like to network and mingle with
						other like minded professionals.
					</p>
				</div>
			</div>
			<div class="type-office virtual-office">
				<div class="name-type-office">
					<p class="name-office">
						Virtual Office
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						Service that permits companies to work remotely, while having access to meeting rooms,
						receptionist, call handling and a professional address.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Ideal for professionals who travel constantly, for entrepreneurs who don't need a full-time
						office, or for those that work from home and need a prestigious address and some hours of
						conference room for occasional meetings.
					</p>
				</div>
			</div>
		</div>
	</article>
	<article class="container-articles">
		<h2 class="title-home white-title">
			Useful Articles
		</h2>
		<hr>
		<p class="description-office-text">
			We hope the resources below will help you answer some of the questions and/or concerns that you have associated with choosing the ideal office space your particular business.
		</p>
		<div class="container-articles-useful">
			<div class="article-useful card-white">
				<figure class="image-article-useful">
					<img src="https://www.officelist.com/images/articles/Buying%20vs%20renting_294_221.jpg" alt="">
				</figure>
				<div class="container-text-useful">
					<h2 class="title-article">Buying vs. renting office space: The truth behind it</h2>
					<p class="text-default">
							Should you purchase an office space or is it better to rent a workplace for your team? Many would say that "renting money is making your landlord rich and not you". Right? However, does this same principle apply to office space? Consider there is a big difference between what you may be looking for in where you live and where you work.
					</p>
					<div class="btn-container">
						<button class="button-default primary">
							View More
						</button>
					</div>
				</div>
			</div>
			<div class="article-useful card-white">
				<figure class="image-article-useful">
					<img src="https://www.officelist.com/images/articles/Rent%20office%20without%20surprises_294_221.jpg" alt="">
				</figure>
				<div class="container-text-useful">
					<h2 class="title-article">How to rent office space without unpleasant surprises </h2>
					<p class="text-default">
						Business life can be very hectic. Paperwork, meetings with clients, strategic presentations...Not to mention monthly financial reports and problematic coworkers. Now imagine having to deal with everything regarding office space search. We bet you're already exhausted, right? The good news isyou can count on our market specialist's guidance from the day you decide to search office space for rentup to the day you move into your new workplace. We're also providing these tips so you can take them into consideration once you've fall in love with any of our locations.
					</p>
					<div class="btn-container">
						<button class="button-default primary">
							View More
						</button>
					</div>
				</div>
			</div>
			<div class="article-useful card-white">
				<figure class="image-article-useful">
					<img src="https://www.officelist.com/images/articles/Ka-Pow!%20We%20got%20your%20office%20covered_294_221.jpg" alt="">
				</figure>
				<div class="container-text-useful">
					<h2 class="title-article">Ka-Pow!!! We got your office search </h2>
					<p class="text-default">
						Ka-Pow!!! We got your office searchRunning a successful business is one of the most rewarding activities there are. But parallel to operating it there are various tasks that must be done but are not directly related to the company's main activities. One of these is the search for office space.
					</p>
					<div class="btn-container">
						<button class="button-default primary">
							View More
						</button>
					</div>
				</div>
			</div>
			<div class="article-useful card-white">
				<figure class="image-article-useful">
					<img src="https://www.officelist.com/images/articles/Lower%20your%20cost%20with%20shared%20office%20space_294_221.jpg" alt="">
				</figure>
				<div class="container-text-useful">
					<h2 class="title-article">Lower your costs with a shared office space </h2>
					<p class="text-default">
							Lower your costs with a shared office spaceIn today's economy it has become really important to make the best use possible of available resources. Office space is one of the most prominent expense items in a company and the foundation on which they can perform what they do the best. Therefore, it's also one of the most thoughtful decisions a business will make. Nevertheless, there's the possibility to lower fixed and variable expenses by sharing common areas with other business, while getting the most out of a professional community. This perfect equation is called shared office space.
					</p>
					<div class="btn-container">
						<button class="button-default primary">
							View More
						</button>
					</div>
				</div>
			</div>
			<div class="article-useful card-white">
				<figure class="image-article-useful">
					<img src="https://www.officelist.com/images/articles/Short%20term%20agreement_294_221.jpg" alt="">
				</figure>
				<div class="container-text-useful">
					<h2 class="title-article">Short-term office lease agreement: The latest trend </h2>
					<p class="text-default">
							One of the scariest things when looking for office space is the office lease agreement. Today's economy makes it really hard to commit to a long-term agreement because companies are constantly facing changes. If you are about to sign an agreement for an office that implies you have to stay in that space for the next 10 years, consider this period is too long for you to know what changes will occur in your company.
					</p>
					<div class="btn-container">
						<button class="button-default primary">
							View More
						</button>
					</div>
				</div>
			</div>
			<div class="article-useful card-white">
				<figure class="image-article-useful">
					<img src="https://www.officelist.com/images/articles/Calculate%20Office%20Space_294_221.jpg" alt="">
				</figure>
				<div class="container-text-useful">
					<h2 class="title-article">The Ultimate Guide to Calculate Office Space</h2>
					<p class="text-default">
						When looking for a new office space, there are many factors that will influence which workplace is the best for your team. For example, if there's enough space for the employees to be comfortable, if the office has a separate place for the team to interact, and if the noise level is appropriate for the tasks being done. We'll explain how to estimate the amount of space you will need and the factors you must consider when analyzing an office square footage.
					</p>
					<div class="btn-container">
						<button class="button-default primary">
							View More
						</button>
					</div>
				</div>
			</div>
			<div class="article-useful card-white">
				<figure class="image-article-useful">
					<img src="https://www.officelist.com/images/articles/Serviced%20Office_294_221.jpg" alt="">
				</figure>
				<div class="container-text-useful">
					<h2 class="title-article">What should you know about serviced office space </h2>
					<p class="text-default">
						We know an office is more than just space. It's the place where your team will create an identity, accomplish goals and expand. That's why every penny must be wisely invested. The good news is real estate has evolved in order to help businesses grow, benefit from great services and networking events. The once real estate market that only used to accommodate you in a place now looks forward to offering you an experience. [Drum rolls]. Let's introduce you to serviced office space and its benefits.
					</p>
					<div class="btn-container">
						<button class="button-default primary">
							View More
						</button>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</article>
</section>
