<section class="container-banner-pages">

</section>

<section class="container-info-pages privay">
	<article class="">
		<h2 class="title-home white-title">
			Resources
		</h2>
		<hr>
		<p class="description-office-text">
			After spending 1,000s of hours assisting our clients identify and choose office space for their individual business needs, we decided to compile a resources section dedicated to providing helpful information about the different types of office space most commonly available and searched for.
		</p>
		<div class="type-office-container">
			<div class="type-office privatte-office">
				<div class="name-type-office">
					<p class="name-office">
						Private Office
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						A lockable, furnished office that guarantees you and your team privacy while benefiting from the
						amenities and services of a flexible office solution.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Growing and established companies that want their own space, work with sensitive information or
						people that want a bit more quiet to get things done.
					</p>
				</div>
			</div>
				<div class="type-office coworking">
					<div class="name-type-office">
						<p class="name-office">
							Coworking
						</p>
					</div>
					<div class="detail-office-container">
						<p class="text-detail-info">
							An open office layout shared with other companies, freelancers and professionals. Choose from
							different workplace configurations such as hot desks and dedicated desks.
						</p>
						<p class="title-detail-office">
							Who?
						</p>
						<p class="text-detail-info">
							Startups, small teams, freelancers or part-time workers that like to network and mingle with
							other like minded professionals.
						</p>
					</div>
				</div>
				<div class="type-office virtual-office">
					<div class="name-type-office">
						<p class="name-office">
							Virtual Office
						</p>
					</div>
					<div class="detail-office-container">
						<p class="text-detail-info">
							Service that permits companies to work remotely, while having access to meeting rooms,
							receptionist, call handling and a professional address.
						</p>
						<p class="title-detail-office">
							Who?
						</p>
						<p class="text-detail-info">
							Ideal for professionals who travel constantly, for entrepreneurs who don't need a full-time
							office, or for those that work from home and need a prestigious address and some hours of
							conference room for occasional meetings.
						</p>
					</div>
				</div>
			</div>
	</article>
</section>