<div class="component-form-inquire card-white">
	<figure class="image-am-office">
		<img src="assets/images/img-am-face.jpg" alt="">
	</figure>
	<button class="button-close-icon">
		<i class="zwicon-close"></i>
	</button>
	<div class="head-form-inquire">
		<h3 class="name-am-office">George Garcia</h3>
		<p class="profile-am-office">Listin Manager</p>
		<p class="info-am-office"><i class="zwicon-phone"></i>347 - 308 - 6421</p>
	</div>
	<div class="body-form-inquire">
		<h4 class="title-form-inquire">Inquire about this office space</h4>
		<form action="">
			<div class="group-form">
				<input type="tel" required name="phone" class="input-default" id="">
				<label for="phone" class="label-default white">
					Phone Number
				</label>
			</div>
			<div class="group-form">
				<input type="tel" required name="phone" class="input-default" id="">
				<label for="phone" class="label-default white">
					Phone Number
				</label>
			</div>
			<div class="group-form">
				<input type="tel" required name="phone" class="input-default" id="">
				<label for="phone" class="label-default white">
					Phone Number
				</label>
			</div>
			<div class="group-form">
				<input type="tel" required name="phone" class="input-default" id="">
				<label for="phone" class="label-default white">
					Phone Number
				</label>
			</div>
			<div class="group-form">
				<textarea type="text" required name="coments" rows="3" cols="40" class="input-default textarea-input" id="" ></textarea>
				<label for="coments" class="label-default white">
					Coments
				</label>
			</div>
		</form>
		<div class="container-inquire-buttons">
			<button class="button-default primary">Inquire</button>
			<button class="button-default secondary-line">Request tour</button>
		</div>
	</div>
</div>
