<div class="component-form-inquire card-white">
	<figure class="image-am-office">
		<img src="assets/images/img-am-face.jpg" alt="">
	</figure>
	<button class="button-close-icon">
		<i class="zwicon-close"></i>
	</button>
	<div class="head-form-inquire">
		<h3 class="name-am-office">George Garcia</h3>
		<p class="profile-am-office">Listing Manager</p>
		<p class="info-am-office"><i class="zwicon-phone"></i>347 - 308 - 6421</p>
	</div>
	<div class="body-form-inquire">
		<h4 class="title-form-inquire">Inquire about this office space</h4>
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<div class="group-form">
				<input type="text" class="input-default" required formControlName="where"
					[ngClass]="{ 'is-invalid': submitted && f.where.errors }">
				<label for="" class="label-default">Where*</label>
			</div>
			<div class="group-form">
				<input type="text" class="input-default" required formControlName="fullName"
					[ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
				<label for="" class="label-default">Full name*</label>
			</div>
			<div class="group-form">
				<input type="text" class="input-default" required formControlName="company"
					[ngClass]="{ 'is-invalid': submitted && f.company.errors }">
				<label for="" class="label-default">Company*</label>
			</div>
			<div class="group-form">
				<input type="email" class="input-default" required formControlName="email"
					[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
				<label for="" class="label-default">Email*</label>
			</div>
			<div class="group-form">
				<input type="text" class="input-default" required formControlName="phone"
					[ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
				<label for="" class="label-default">Phone number*</label>
			</div>
			<div class="group-form">
				<textarea class="input-default textarea-input" formControlName="comments"
					[ngClass]="{ 'is-invalid': submitted && f.comments.errors }"></textarea>
				<label for="" class="label-default">Comments</label>
			</div>
			<div class="container-inquire-buttons">
				<button class="button-default secondary-line">Request tour</button>
				<button class="button-default primary" type="submit">Inquire</button>
			</div>
		</form>
	</div>
</div>
