<!--Banner Home-->
<office-list-banner-home></office-list-banner-home>
<section class="why-should-container">
	<article>
		<h2 class="title-home">
			Why should you list your office space on OfficeList?
		</h2>
		<hr>
		<ul class="description-office-text">
			<li>Our account managers are in constant contact with the leads to increase closing ratios, advertise your
				location’s benefits, and assist in follow-ups. We don’t just send you leads, we get involved throughout
				the process and provide real actionable feedback that help you close more.</li>
			<li>Visitors to the site will have access to all office space locations registered.</li>
			<li>Potential customers do not pay to use this service.</li>
			<li>Get set up fast and receive all the support you need to keep your listings up to date.</li>
			<li>Our local and national advertising campaigns give you access to nationwide exposure.</li>
		</ul>
	</article>
</section>
<!--HowWorks-->
<section class="how-works-container">
	<article>
		<h2 class="title-home">
			Keep in mind
		</h2>
		<hr>
		<div class="item-doit-container">
			<div class="itemhw-container">
				<figure class="icon-howw">
					<img src="assets/images/icons/icon-search.svg" alt="">
				</figure>
				<p class="title-howw">
					Free
				</p>
				<p class="text-howw">
					Set up your location at no cost.
				</p>
			</div>
			<div class="itemhw-container">
				<figure class="icon-howw">
					<img src="assets/images/icons/icon-consultant.svg" alt="">
				</figure>
				<p class="title-howw">
					Free OfficeList Consultant
				</p>
				<p class="text-howw">
					Get a personalized report and compare current pricing, availability and specials.
				</p>
			</div>
		</div>
	</article>
</section>
<!--WhichOffice-->
<section class="which-office-container">
	<article>
		<h2 class="title-home">
			Who should list with us?
		</h2>
		<hr>
		<div class="type-office-container">
			<div class="type-office privatte-office">
				<div class="name-type-office">
					<p class="name-office">
						Private Office
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						A lockable, furnished office that guarantees you and your team privacy while benefiting from the
						amenities and services of a flexible office solution.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Growing and established companies that want their own space, work with sensitive information or
						people that want a bit more quiet to get things done.
					</p>
				</div>
			</div>
			<div class="type-office coworking">
				<div class="name-type-office">
					<p class="name-office">
						Coworking
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						An open office layout shared with other companies, freelancers and professionals. Choose from
						different workplace configurations such as hot desks and dedicated desks.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Startups, small teams, freelancers or part-time workers that like to network and mingle with
						other like minded professionals.
					</p>
				</div>
			</div>
			<div class="type-office virtual-office">
				<div class="name-type-office">
					<p class="name-office">
						Virtual Office
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						Service that permits companies to work remotely, while having access to meeting rooms,
						receptionist, call handling and a professional address.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Ideal for professionals who travel constantly, for entrepreneurs who don't need a full-time
						office, or for those that work from home and need a prestigious address and some hours of
						conference room for occasional meetings.
					</p>
				</div>
			</div>
		</div>
	</article>
</section>
<!--Testimonials-->
<section class="testimonials-container">
	<article>
		<p class="quote-mark">"</p>
		<p class="text-big-quote">
			I had a great experience with OfficeList. George was extremely helpful. He stayed on top of things and
			finally found an office for me. Finding a small office to fit my budget was extremely difficult. Most
			offices around my area were much larger than I needed. George stayed with it and he found one for me.
			Hopefully I will be growing and needing a larger space this summer and George would be the only person I
			would contact. He’s a good man.
		</p>
		<p class="name-testimonial">Mark Baim</p>
		<p class="name-testimonial"><em class="info-testimonial">CEO, EverDry</em></p>
	</article>
</section>
<!--Trusted-->
<section class="logoc-trusted-container">
	<article>
		<h2 class="title-home">
			Trusted by thousands for over 15 years
		</h2>
		<hr>
		<div class="logo-company-container">
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-wellsfargo.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-ericsson.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-ey.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-kmp.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-uhv.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-marriott.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-metlife.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-metropcs.jpg" alt="">
			</figure>
		</div>
	</article>
</section>

<!--section class="nearby-locations-container">
	<h2 class="title-home">
		New locations listed with us
	</h2>
	<hr>
	<div class="cont-swiper-nearby">
		<swiper class="nearby-swiper" [config]="config">
			<div class="swiper-wrapper">
				<div class="swiper-slide office-list-card card-white">
					<figure class="img-card-office">
						<i class="icon-star-office"></i>
						<img appLazyLoad [src]="bc.principalImage" alt="">
						<button class="button-icon" id="btn-list-search" (click)="showModalDetail(bc.buscenter_id)">
							<i class="zwicon-plus"></i>
						</button>
					</figure>
					<div class="info-office-container">
						<p class="text-default">
							NOMBRE</p>
						<h3 class="title-name-office">
							DIRECCION</h3>
						<p class="name-city">CIUDAD</p>
						<span class="badge-city">ÁREA</span>
						<p class="phone-number">
							<i class="zwicon-phone"></i>
							TELEFONO
						</p>
						<div class="price-container">
							<button class="button-show-price">
								<h3 class="title-price">
									Starting at :
								</h3>
							</button>
							<ul class="list-prices-office">
								<li *ngFor="let office of bc.offices">
									<p class="price-office">$200</p>
									<p class="type-office">TIPO OFICINA</p>
								</li>
							</ul>
						</div>
						<div class="btn-container">
							<button class="button-default primary">
								Get quote
							</button>
						</div>
						<div class="like-container">
							<button class="button-icon-like">
								<office-list-favorites-heart [bcId]="bc.buscenter_id"></office-list-favorites-heart>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</swiper>
	</div>
</section-->

<div class="register-container">
	<h2 class="title-home">
		We don’t just refer leads. We will be your most valued partner.
	</h2>
	<hr>
	<a class="button-default primary" href="https://bcadmin.officelist.com/signup" target="_blank">
		Register your location
	</a>
</div>
