@import '../../../styles/index';

.container-inquire-buttons {
    .button-default {
        width: 47%;
        margin: 0.5rem 0.2rem;
    }
}

.success-container {
    color: colors('primary');
}

@include from-breakpoint('desktop') {
    .container-inquire-buttons {
        display: flex;
        flex-direction: row;

        .button-default {
            font-size: 0.9rem;
            margin-bottom: 0;
            margin-top: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
