<div class="details-galery">
	<div class="container-images">
		<ng-template ngFor let-image [ngForOf]="_images">
			<div  class="container-image" [ngStyle]="{'background-image': 'url(' + image.image_path + ')'}">

			</div>
		</ng-template>
	</div>
	<!--div><img src="assets/images/img-office-detail-2.jpg"></div-->

	<div class="container-buttons">
		<button class="button-default secondary-line">
			View photos
		</button>
		<button class="button-default primary button-icon">
			<i class="zwicon-heart"></i>
		</button>
	</div>
</div>
