@import 'index';

footer {
    font-size: 12px;
    min-height: 550px;

    .footer-content {
        background-color: colors('black-footer');
        display: flex;
        flex-direction: column;
        min-height: 430px;

        .footer-item {
            border-bottom: 1px colors('white') dashed;
            padding: 1rem;
            width: 100%;

            &:nth-child(1) {
                color: colors('white-50');
                line-height: 30px;
                text-align: justify;
            }

            .footer-menu {
                li {
                    height: 30px;
                }

                a {
                    color: colors('white');
                    cursor: pointer;

                    .icon {
                        fill: colors('white');
                    }

                    &:hover {
                        color: colors('green-primary');
                    }
                }
            }

            .news_letter_form {
                color: colors('white');

                h4 {
                    font-size: 24px;
                    font-weight: 300;
                }

                .input-container {
                    display: flex;
                    padding: 1rem 0;

                    i {
                        font-size: 25px;
                    }

                    .input-field {
                        background-color: colors('black-footer');
                        border-bottom: 1px colors('white') solid;
                        border-left: none;
                        border-right: none;
                        border-top: none;
                        color: colors('white');
                        font-size: 16px;
                        margin: 0 0.5rem;
                        width: 100%;
                    }
                }

                .btn-newsletter {
                    background-color: colors('black');
                    color: colors('white');
                    font-size: 16px;
                    padding: 1rem;
                    text-transform: uppercase;
                }
            }
        }

        @include from-breakpoint('tablet') {
            flex-direction: row;
            padding: 66px 0;

            .footer-item {
                border: none;
                width: 25%;

                &:nth-child(1) {
                    width: 30%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 20%;
                }

                &:nth-child(4) {
                    width: 30%;
                }
            }
        }
    }

    .legal {
        background-color: colors('black');
        color: colors('white-50');
        font-size: 14px;
        margin: 0 auto;
        min-height: 120px;
        padding-top: 55px;
        text-align: center;
        vertical-align: middle;
    }

    @include from-breakpoint('tablet') {
        flex-direction: row;
        padding: 66px 0 0;

        .footer-item {
            border: none;
            width: 25%;

            &:nth-child(1) {
                width: 30%;
            }

            &:nth-child(2),
            &:nth-child(3) {
                width: 20%;
            }

            &:nth-child(4) {
                width: 30%;
            }
        }
    }
}
