<footer>
	<div class="lists-container">
		<ul class="list-items-footer">
			<li>
				<a href="" class="link-footer">
						About OfficeList
				</a>
			</li>
			<li>
				<a href="" class="link-footer">
					News
				</a>
			</li>
			<li>
				<a href="" class="link-footer">
					FAQ
				</a>
			</li>
			<li>
				<a href="" class="link-footer">
					Contact Us
				</a>
			</li>
			<li>
				<a href="" class="link-footer">
					List your Office Space
				</a>
			</li>
		</ul>
		<ul class="list-items-footer">
			<li>
				<a href="" class="link-footer">
					Resources
				</a>
			</li>
			<li>
				<a href="" class="link-footer">
					Privacy
				</a>
			</li>
			<li>
				<a href="" class="link-footer">
					Terms of Use
				</a>
			</li>
			<li>
				<a href="" class="link-footer">
					Sitemap
				</a>
			</li>
		</ul>
		<div class="contact-container">
			<div class="social-container">
				<p class="text-footer">
					Follow us
				</p>
				<button class="button-icon">
					<i class="icon facebook"></i> 
				</button>
				<button class="button-icon">
					<i class="icon linkedin"></i> 
				</button>
				<button class="button-icon">
					<i class="icon twitter"></i> 
				</button>
			</div>
			<div class="newsletter-container">
				<form action="">
					<div class="group-form">
						<i class="zwicon-mail"></i>
						<label for="email" class="text-label-footer">
							Newsletter sign up
						</label>
						<input type="text" name="email" id="" class="input-footer" placeholder="youremail@mail.com.co">
					</div>
					<button class="button-default primary">
						Subscribe
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="copyright-container">
		<p class="terms-footer">
			OfficeList provides a free, unbiased service to help you choose flexible office space solutions including private offices and coworking. Make an informed decision with real-time local market data and get access to updated pricing, availability, discounts and specials.
		</p>
		<p class="terms-footer align-r">
			Copyright © 2003-2019 OfficeList.com. All rights reserved.
		</p>
	</div>
</footer>