<footer>
	<div class="lists-container">
		<ul class="list-items-footer">
			<li>
				<a href="/about-us/" class="link-footer">
					About OfficeList
				</a>
			</li>
			<li>
				<a href="/blog/" class="link-footer">
					News
				</a>
			</li>
			<li>
				<a href="/faq/" class="link-footer">
					FAQ
				</a>
			</li>
			<li>
				<a href="/contact-us/" class="link-footer">
					Contact Us
				</a>
			</li>
			<li>
				<a href="/list-your-office/" class="link-footer">
					List your Office Space
				</a>
			</li>
		</ul>
		<ul class="list-items-footer">
			<li>
				<a href="/resources/" class="link-footer">
					Resources
				</a>
			</li>
			<li>
				<a href="/privacy/" class="link-footer">
					Privacy
				</a>
			</li>
			<li>
				<a href="/assets/pdf/Terms.pdf" target="_blank" class="link-footer">
					Terms of Use
				</a>
			</li>
			<li>
				<a href="https://bcadmin.officelist.com/" target="_blank" class="link-footer">
					Office Operator Login
				</a>
			</li>
		</ul>
		<div class="contact-container">
			<div class="social-container">
				<p class="text-footer">
					Follow us
				</p>
				<a class="button-icon" href="https://www.facebook.com/OfficeList" target="_blank" aria-label="Follow us on facebook">
					<i class="icon facebook"></i>
				</a>
				<a class="button-icon" href="https://www.linkedin.com/company/officelist-llc" target="_blank" aria-label="Follow us on Linkein">
					<i class="icon linkedin"></i>
				</a>
				<a class="button-icon" href="https://www.twitter.com/officelist" target="_blank" aria-label="Follow us on Icon">
					<i class="icon twitter"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="copyright-container">
		<p class="terms-footer">
			OfficeList provides a free, unbiased service to help you choose flexible office space solutions including
			private offices and coworking. Make an informed decision with real-time local market data and get access to
			updated pricing, availability, discounts and specials.
		</p>
		<p class="terms-footer align-r">
			Copyright © 2003-2019 OfficeList.com. All rights reserved.
		</p>
	</div>
</footer>
