<div class="container-modal-default">
		<div class="modal-default-site big-modal">
			<div class="header-modal">
				<button class="btn-icon-transparent">
					<i class="zwicon-close"></i>
				</button>
			</div>
			<div class="body-modal">
				<i class="zwicon-chat"></i>
				<p class="intro-modal">Our team is always willing to help! Please complete the following contact form and one of our account managers will reply within one business day.</p>
				<form action="login">
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Full name*</label>
					</div>
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Email*</label>
					</div>
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Phone number*</label>
					</div>
					<div class="group-form">
						<input type="text" class="input-default" required>
						<label for="" class="label-default">Company*</label>
					</div>
					<div class="group-form">
						<textarea type="text" class="input-default textarea-input" required></textarea>
						<label for="" class="label-default">Comments</label>
					</div>
				</form>
				<div class="container-button-modal">
					<button class="button-default primary">Submit</button>
				</div>
				
			</div>
		</div>
	</div>