@import '../../../styles/index';
@import '../business-list/business-list.component';

.details-office-container {
    max-width: 80vw;
    margin: 0 auto;
}

.title-favorites {
    color: #000;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 2.4rem;
    text-align: center;
}

.container-details {
    margin-top: 6px;
}


.info-manager {
    .title-detail {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .text-info-manager {
        color: colors('black-4');
        font-size: 1rem;

        i {
            font-size: 1rem;
        }
    }
}


.container-bcs-form {
    display: flex;

    .container-bcs {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: 1rem 0.5rem;
    }

    .container-side-form {
        width: 35%;
        margin: 2rem 0.5rem;

        .container-form-inquire {
            position: sticky;
            top: 145px;
        }
    }

    .card-container {
        &.list-grid {
            width: 100%;
        }

        &.list-cards {
            width: 100%;
        }
    }
}

@include from-breakpoint('tablet') {
    .container-bcs-form {
        .card-container {
            &.list-grid {
                width: 49%;
            }
        }
    }
}
