@import '../../../styles/index';
@import '../business-list/business-list.component';

.title-favorites {
    font-size: 2rem;
}

.container-details {
    margin-top: 6px;
}

.info-manager {
    .title-detail {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .text-info-manager {
        color: colors('black-4');
        font-size: 1rem;

        i {
            font-size: 1rem;
        }
    }
}

.price-container {
    &.info-manager {
        padding: 4px !important;
        min-height: auto !important;
    }
}

.container-bcs-form {
	display: flex;

	.container-bcs {
		width: 70%;
		margin: 1rem 0.5rem;
	}

	.container-side-form{
		width: 50%;
		margin: 1rem 0.5rem;
		.container-form-inquire{
			position: sticky;
			top: 0;
		}
	}
}

