<section class="details-office-container">
	<div class="container-details">
		<div class="cont-title-sections">
			<h1 class="title-name-office title-favorites">Your favorite offices</h1>
		</div>
		<hr>
		<div class="detail-container-info">
			<p class="description-office-text">
				You still have more locations to tour. Click on “Call US” and you can also talk to one of our listing
				Managers to help you.
			</p>
		</div>
		<!--div class="container-cards">
			<h2 class="title-home">
				Schedule a Tour
			</h2>
			<hr>
		</div-->
	</div>
	<div class="container-bcs-form">
		<div class="container-bcs">
			<div class="card-container list-cards" *ngFor="let bc of bussinesCenter">
				<office-list-bc-card [bc]="bc" [grid]="grid" [isDesktop]="isDesktop" [isList]="false" [myList]="true" [isIP]="false">
				</office-list-bc-card>
			</div>
		</div>
		<div class="container-side-form">
			<div class="container-form-inquire">
				<office-list-form-inquire-now [myList]="true"></office-list-form-inquire-now>
			</div>
		</div>
	</div>

</section>

<!--div class="call-info-modal-container" *ngIf="detailOfficeInfo">
	<div class="close-modal">
		<button class="close-button-modal" (click)="showModalDetail()">
			<i class="zwicon-close"></i>
		</button>
	</div>
	<office-list-modal-detail [businessId]="selectedBusiness"></office-list-modal-detail>
</div-->
