<section class="details-office-container">
	<div class="container-details">
		<div class="cont-title-sections	">
			<h1 class="title-name-office title-favorites">Your favorite offices</h1>
			<hr class="line-detail">
		</div>

		<div class="detail-container-info">
			<p class="description-office-text">
				You still have more locations to tour. Click on “Book now” and pick the time and date that best works
				for you. You can also talk to one of our listing Managers to help you.
			</p>
		</div>
		<div class="container-cards">
			<h2 class="title-home">
				Schedule a Tour
			</h2>
			<hr>
		</div>
	</div>
	<div class="container-side-form">
		<div class="container-form-inquire">
			<office-list-form-inquire-now></office-list-form-inquire-now>
		</div>
	</div>
</section>
