<!--PopularCities-->
<section class="popular-cities-container">
	<article>
		<h2 class="title-home">
			Popular cities
		</h2>
		<hr>
		<div class="cities-container">
			<div class="city-container card-white">
				<div class="img-city-container">
					<img src="assets/images/cities/joseph-barrientos-Ji_G7Bu1MoM-unsplash.jpg" alt="">
				</div>
				<p class="title-city">New York</p>
				<p class="number-offices">168 Office locations</p>
			</div>
			<div class="city-container card-white">
				<div class="img-city-container">
					<img src="assets/images/cities/ronny-sison-tU9n3Y0KCMk-unsplash.jpg" alt="">
				</div>
				<p class="title-city">New York</p>
				<p class="number-offices">168 Office locations</p>
			</div>
			<div class="city-container card-white">
				<div class="img-city-container">
					<img src="assets/images/cities/joseph-barrientos-Ji_G7Bu1MoM-unsplash.jpg" alt="">
				</div>
				<p class="title-city">New York</p>
				<p class="number-offices">168 Office locations</p>
			</div>
			<div class="city-container card-white">
				<div class="img-city-container">
					<img src="assets/images/cities/ronny-sison-tU9n3Y0KCMk-unsplash.jpg" alt="">
				</div>
				<p class="title-city">New York</p>
				<p class="number-offices">168 Office locations</p>
			</div>
			<div class="city-container card-white">
				<div class="img-city-container">
					<img src="assets/images/cities/joseph-barrientos-Ji_G7Bu1MoM-unsplash.jpg" alt="">
				</div>
				<p class="title-city">New York</p>
				<p class="number-offices">168 Office locations</p>
			</div>
			<div class="city-container card-white">
				<div class="img-city-container">
					<img src="assets/images/cities/ronny-sison-tU9n3Y0KCMk-unsplash.jpg" alt="">
				</div>
				<p class="title-city">New York</p>
				<p class="number-offices">168 Office locations</p>
			</div>
		</div>
	</article>
</section>
<!--WhichOffice-->
<section class="which-office-container">
	<article>
		<h2 class="title-home">
			Which Office Type Suits You Best?
		</h2>
		<hr>
		<div class="type-office-container">
			<div class="type-office privatte-office">
				<div class="name-type-office">
					<p class="name-office">
						Private Office
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						A lockable, furnished office that guarantees you and your team privacy while benefiting from the amenities and services of a flexible office solution.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
						Growing and established companies that want their own space, work with sensitive information or people that want a bit more quiet to get things done.
					</p>
				</div>
			</div>
			<div class="type-office coworking">
				<div class="name-type-office">
					<p class="name-office">
						Coworking
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
							An open office layout shared with other companies, freelancers and professionals. Choose from different workplace configurations such as hot desks and dedicated desks.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
							Startups, small teams, freelancers or part-time workers that like to network and mingle with other like minded professionals.
					</p>
				</div>
			</div>
			<div class="type-office virtual-office">
				<div class="name-type-office">
					<p class="name-office">
						Virtual Office
					</p>
				</div>
				<div class="detail-office-container">
					<p class="text-detail-info">
						Service that permits companies to work remotely, while having access to meeting rooms, receptionist, call handling and a professional address.
					</p>
					<p class="title-detail-office">
						Who?
					</p>
					<p class="text-detail-info">
							Ideal for professionals who travel constantly, for entrepreneurs who don't need a full-time office, or for those that work from home and need a prestigious address and some hours of conference room for occasional meetings.
					</p>
				</div>
			</div>
		</div>
	</article>
</section>
<!--HowWorks-->
<section class="how-works-container">
	<article>
		<h2 class="title-home">
			How Does It Work?
		</h2>
		<hr>
		<div class="item-doit-container">
			<div class="itemhw-container">
				<figure class="icon-howw">
					<img src="assets/images/icons/icon-search.svg" alt=""> 
				</figure>
				<p class="title-howw">
					Search
				</p>
				<p class="text-howw">
					Select a city or area you’re interested in.
				</p>
			</div>
			<div class="itemhw-container">
				<figure class="icon-howw">
					<img src="assets/images/icons/icon-consultant.svg" alt=""> 
				</figure>
				<p class="title-howw">
					Free OfficeList Consultant
				</p>
				<p class="text-howw">
						Get a personalized report and compare current pricing, availability and specials.
				</p>
			</div>
			<div class="itemhw-container">
				<figure class="icon-howw">
						<img src="assets/images/icons/icon-tour.svg" alt=""> 
				</figure>
				<p class="title-howw">
					Tour
				</p>
				<p class="text-howw">
					Visit and compare the office providers that match your actual preferences.
				</p>
			</div>
			<div class="itemhw-container">
				<figure class="icon-howw">
					<img src="assets/images/icons/icon-move.svg" alt=""> 
				</figure>
				<p class="title-howw">
					Move In
				</p>
				<p class="text-howw">
					Once we find you what you’re looking for at the right price, move in as quickly as tomorrow.
				</p>
			</div>
		</div>
	</article>
</section>
<!--Pressed-->
<section class="pressed-form-container">
	<article>
		<h2 class="title-home white-title">
			Pressed for time?
		</h2>
		<hr>
		<div class="text-intro-form-button">
			<p class="text-big-quote">
				We'll search for you and deliver results to your inbox.
			</p>
			<button class="button-default secondary" (click)="toggleFormPressed()">
				Search for me
			</button>
		</div>
	</article>
	<article class="form-pressed-container" *ngIf="formPressedShow" @ngIfAnimation>
		<p class="text-big-quote" @easeInOut>
			Our team is always willing to help! Please complete the following contact form and one of our account managers will reply within one business day.
		</p>
		<div class="form-pressed-button" @easeInOut>
			<form action="">
				<div class="group-form">
					<i class="zwicon-user"></i>
					<input type="text" required name="name" class="input-default" id="" >
					<label for="name" class="label-default white">
						Name
					</label>
				</div>
				<div class="group-form">
					<i class="zwicon-web"></i>
					<input type="text" required name="company" class="input-default" id="" >
					<label for="company" class="label-default white">
						Company
					</label>
				</div>
				<div class="group-form">
					<i class="zwicon-mail"></i>
					<input type="email" required name="email"  class="input-default" id="">
					<label for="email" class="label-default white">
						Email
					</label>
				</div>
				<div class="group-form">
					<i class="zwicon-phone"></i>
					<input type="tel" required name="phone" i class="input-default" id="" >
					<label for="phone" class="label-default white">
						Phone Number
					</label>
				</div>
				<div class="group-form">
					<i class="zwicon-document"></i>
					<textarea type="text" required name="coments" rows="10" cols="50" class="input-default" id="" ></textarea>
					<label for="coments" class="label-default white">
						Coments
					</label>
				</div>
			</form>
			<button class="button-default secondary">
				Submit
			</button>
		</div>
	</article>
</section>
<!--Trusted-->
<section class="logoc-trusted-container">
	<article>
		<h2 class="title-home">
			Trusted by thousands for over 15 years
		</h2>
		<hr>
		<div class="logo-company-container">
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-wellsfargo.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-ericsson.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-ey.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-kmp.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-uhv.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-marriott.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-metlife.jpg" alt="">
			</figure>
			<figure class="img-trust-container">
				<img src="assets/images/img-logo-metropcs.jpg" alt="">
			</figure>
		</div>
	</article>
</section>
<!--Testimonials-->
<section class="testimonials-container">
	<article>
		<p class="quote-mark">"</p>
		<p class="text-big-quote">
			I had a great experience with OfficeList. George was extremely helpful. He stayed on top of things and finally found an office for me. Finding a small office to fit my budget was extremely difficult. Most offices around my area were much larger than I needed. George stayed with it and he found one for me. Hopefully I will be growing and needing a larger space this summer and George would be the only person I would contact. He’s a good man.
		</p>
		<p class="name-testimonial">Mark Baim</p>
		<p class="name-testimonial"><em class="info-testimonial">CEO, EverDry</em></p>
	</article>
</section>
