<section class="container-banner-pages">

</section>
	
<section class="container-info-pages">
	<article class="">
		<h2 class="title-home white-title">
				Privacy Policy for Users and Referral Sources
		</h2>
		<hr>
		<p class="description-office-text">
			OWhen you get a group of exceptional people, you have a winning recipe. We know that we have a great responsibility to help you make an informed decision and find an office that provides the flexibility to help your business grow and we don't take it lightly. We hire the best and our clients expect the same from us.
		</p>
	
		<h2 class="title-home white-title">
			The secret ingredient
		</h2>
		<hr>
		<p class="description-office-text">
			We run our business the same way we live our lives. Driven, transparent, honest, and giving. We give our best to try to generate a positive impact in those who come in contact with our brand.
		</p>
		<h2 class="title-home white-title">
			A business built on experience
		</h2>
		<hr>
		<p class="description-office-text">
			As an entrepreneur our CEO, Uddy Carmi, met regularly with friends and colleagues who also ran their startups. A common concern was frequently discussed: they all struggled to find an office that would inspire their teams while aligning with their business goals and projections. Traditional office space is inflexible by nature. Business, in contrast, is extremely dynamic. There had to be a better way. That's when he knew he wanted to get involved in helping shape the future of work.
		</p>
		<h2 class="title-home white-title">
			We got this
		</h2>
		<hr>
		<p class="description-office-text">
			OfficeList does one thing and does it like no one else. We care about our clients and go the extra mile to understand their needs and offer the right solution. Each client is different and every flexible office we offer has its defining character and solutions. The magic happens when we find that sweet spot and create that match.
		</p>
	</article>
</section>
<section class="container-ourteam">

</section>
<section class="container-linetime">
	<article class="line-time-officelist">
		<h2 class="title-home white-title">
			Our Story
		</h2>
		<hr>
		<div class="line-time-cont">
			<div class="container-year right">
				2003
				<hr class="timeline-line">
			</div>	
			<div class="container-info-year left-text">
				<h3 class="title-info-year">
					There has to be a better way
				</h3>
				<p class="description-office-text">
						Our founders, frustrated with the disconnect between the rigid nature of office space and the dynamic nature of business decide to do something about it.
				</p>
			</div>	
		</div>
		<div class="line-time-cont">
			<div class="container-info-year right right-text">
				<h3 class="title-info-year">
					Search Today, Move In Tomorrow
				</h3>
				<p class="description-office-text">
						<a href="#">OfficeList.com</a> launches in the US market with hundreds of options for small companies to find the ideal Office Business Center.
				</p>
			</div>
			<div class="container-year">
				2004
				<hr class="timeline-line">
			</div>	
		</div>
		<div class="line-time-cont">
			<div class="container-year right">
				2006
				<hr class="timeline-line">
			</div>	
			<div class="container-info-year left-text">
				<h3 class="title-info-year">
					Account Managers to serve you better
				</h3>
				<p class="description-office-text">
						99.9% market coverage and we introduce our consultant to help our clients find their dream office.
				</p>
			</div>	
		</div>
		<div class="line-time-cont">
			<div class="container-info-year right right-text">
				<h3 class="title-info-year">
					10,000 Clients served
				</h3>
				<p class="description-office-text">
					Pretty cool milestone for such a young startup.
				</p>
			</div>
			<div class="container-year">
				2007
				<hr class="timeline-line">
			</div>	
		</div>
		<div class="line-time-cont">
			<div class="container-year right">
				2010
				<hr class="timeline-line">
			</div>	
			<div class="container-info-year left-text">
				<h3 class="title-info-year">
					Find Office Space in Minutes for Free
				</h3>
				<p class="description-office-text">
					New website is launched with improvements and functionality.
				</p>
			</div>	
		</div>
		<div class="line-time-cont">
			<div class="container-info-year right right-text">
				<h3 class="title-info-year">
					Let’s talk aboot office space, eh?
				</h3>
				<p class="description-office-text">
						<a href="#">OfficeList</a> launches in Canada to great success. Full market coverage from day one and a natural expansion to our office portfolio.
				</p>
			</div>
			<div class="container-year">
				2012
				<hr class="timeline-line">
			</div>	
		</div>
		<div class="line-time-cont">
			<div class="container-year right">
				2013
				<hr class="timeline-line">
			</div>	
			<div class="container-info-year left-text">
				<h3 class="title-info-year">
					50,000 Clients served
				</h3>
				<p class="description-office-text">
					and counting.
				</p>
			</div>	
		</div>
		<div class="line-time-cont">
			<div class="container-info-year right right-text">
				<h3 class="title-info-year">
					New website - New user interface - New Business focus
				</h3>
				<p class="description-office-text">
						For the last year or so, OfficeList has been digging deep to reinvent itself. This means, doing everything better and being true to our values and vision. We are focused on growth, helping our clients make better, informed decisions and leaving the world in better shape than we found it.
				</p>
			</div>
			<div class="container-year">
				2019
				<hr class="timeline-line">
			</div>	
		</div>
	</article>
</section>