@import 'index';

.container-gallery-detail {
	height: 360px;
	background-color: red;
	margin: 0;
	padding: 0;
}

.details-office-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;

	article {
		flex-grow: 1;
		margin: 0 auto;
		width: 90%;
	}

}

.container-breadcrumbs {
	margin-bottom: 10px;
	.linktoback {
		cursor: pointer;
		font-weight: 300;
	}
}

.text-default {
	font-size: 1rem;
}

.title-name-office {
	color: colors('primary');
	font-size: 1.4rem;
	line-height: 1.4rem;
}

.line-detail {
	border: 0.6px solid colors('black-2');
	width: 100%;
}

.title-detail {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.detail-container-info {
	margin-bottom: 20px;
}

.container-princing-types {
	display: flex;
	flex-wrap: wrap;

	.cont-type-pricing {
		margin-bottom: 12px;
		margin-left: 14px;
		flex-grow: 1;
		width: 40%;

		&:first-child {
			margin-left: 0;
		}

		&.active {
			background: colors('black-2');
		}
	}
}

.image-type {
	border-radius: 10px 10px 0 0;
	height: 100px;
	overflow: hidden;

	img {
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.button-show-pricing {
	color: colors('primary');
	font-size: 1rem;
	font-weight: 700;
	margin: 10px 0;
	padding: 0 10px;
	text-align: left;
	width: 100%;

	.zwicon-chevron-down {
		color: colors('black-5');
		font-size: 1.2rem;
		font-weight: 700;
		position: absolute;
		right: 4px;
		top: 0;
	}
}

.title-starting {
	float: left;
	font-size: 0.8rem;
	padding-left: 10px;
}

.price-starting {
	font-size: 0.8rem;
	text-align: right;
	color: colors('black-5');
	padding-right: 10px;
}

.princing-type {
	padding: 18px 18px 20px;
	position: relative;
}

.container-titles {
	border-bottom: 0.6px solid colors('black-2');
	display: flex;
	margin-bottom: 10px;
	padding-bottom: 10px;

	div {
		width: 50%;
	}

	.price-offices {
		text-align: right;
	}

	.title-suboffice-type {
		font-size: 0.8rem;
	}

	.title-type-office {
		color: colors('primary');
	}

	.price-type {
		font-weight: 700;
	}

}

.description-type {
	font-size: 0.9rem;
	margin-bottom: 10px;
}

.container-description-items {
	display: flex;
	font-size: 0.9rem;
	margin-bottom: 10px;

	.includes-container,
	.bestfor-container {
		width: 50%;
	}

	.items-description {
		color: colors('black-5');

		li {
			font-size: 0.8rem;
			margin-bottom: 4px;
		}
	}
}

.button-like-type {
	background: colors('primary');
	border-radius: 100%;
	color: colors('white');
	font-size: 1.4rem;
	line-height: 0;
	left: 50%;
	height: 30px;
	position: absolute;
	transform: translate(-50%, 0%);
	width: 30px;
}

.icons-amenities {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		flex-grow: 1;
		margin-bottom: 1rem;
		text-align: center;
		width: 50%;
	}

	.container-icon {
		background: colors('white');
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
		border-radius: 100%;
		color: colors('black-4');
		height: 100px;
		margin: 0 auto 6px;
		text-align: center;
		padding: 26px 0;
		width: 100px;

		i {
			font-size: 2.4rem;
			font-weight: 300;
		}
	}

	.title-amenitie {
		font-weight: 700;
		font-size: 1rem;
	}
}

.nearby-locations-container {
	margin: 0;
	padding-top: 0;

	.office-list-card {
		box-shadow: 0 1px 10px 0 colors('black-1');
		flex-direction: column;
		flex-grow: 1;
		margin-bottom: 36px;
        padding: 0rem;
        width: 100%;

        .img-card-office {
			border-radius: 10px 10px 0 0;
			min-height: 176px;
			width: 100%;

			img {
				height: 177px;
			}
        }

        .info-office-container {
            width: 100%;
			padding: .5rem;
			position: relative;
        }

        .price-container {
            border-width: 1px 0;
            margin: 12px 0;
            padding: 4px 6px 0;
        }

        .btn-container {
            margin: 6px 0 1rem;
        }

        .like-container {
            right: .5rem;
            top: .5rem;
        }
	}

	.price-container {
        border-color: colors('black-2');
        border-style: solid;

        .zwicon-chevron-down {
            color: colors('black-6');
            font-size: 2rem;
            line-height: 0;
            position: absolute;
            right: 0;
            top: 14px;
        }
    }

    .list-prices-office {
        display: flex;
        flex-direction: row;
        margin: 4px 0 10px;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
            padding: 4px;
        }

        .price-office {
            color: colors('black-7');
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
        }

        .type-office {
            color: colors('black-5');
            font-size: 0.8rem;
            line-height: 1;
            text-align: center;
        }
	}

	.img-card-office {
        overflow: hidden;
        position: relative;

        .button-icon {
            background: colors('white-7');
            border-radius: 100%;
            font-size: 1rem;
            height: 30px;
            position: absolute;
            right: 12px;
            top: 12px;
            width: 30px;
        }
    }

    .text-default {
		font-size: 0.9rem;
		margin-bottom: 6px;

        em {
            color: colors('black-6');
        }
    }

    .name-city {
        margin-bottom: 10px;
    }

    .phone-number {
        color: colors('black-7');
        font-size: 1rem;
        margin-top: 8px;
    }

    .like-container {
        height: 20px;
        position: absolute;
        width: 20px;
    }

    .btn-container {
        text-align: center;

        .button-default {
            margin: 0 0 4px;
        }
    }
}

swiper {
	width: 100%;
}

.swiper-container {
	overflow: hidden;
}

.swiper-pagination-bullet-active {
	background-color: colors('primary');
}

.nearby-swiper {
	height: auto;
}

.amenities-swiper {
	height: 270px;
}

.swiper-pagination-bullet-active {
	background: colors('black-7') !important;
}

.container-form-inquire {
    right: 5%;
	position: sticky;
	width: 90%;
	z-index: 190;
	display: none;
}

@include from-breakpoint('mobile-xl') {

}

@include from-breakpoint('tablet') {
	.pricings-detail-container {
		display: flex;
		flex-wrap: wrap;

		.princing-type {
			flex-grow: 1;
			margin-left: 20px;
			width: 40%;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.button-show-pricing {
		.zwicon-chevron-down {
			font-size: 1.6rem;
		}
	}

	.icons-amenities {
		div {
			width: 23%;
		}
	}
}

@include from-breakpoint('desktop-s') {
	.nearby-locations-container {
		.office-list-card {
			width: 300px !important;
		}
	}
}

@include from-breakpoint('desktop') {
	.details-office-container {
		.container-details {
			margin-left: 4%;
			width: 45%;
		}
		.container-side-form {
			padding-left: 20px;
			padding-right: 4%;
			width: 20%;
		}
	}
	.cont-title-section,
	.detail-container,
	.nearby-locations-container {
		margin: 0 0 20px 4%;
		width: 60%;
	}

	.description-type {
		font-size: 0.8rem;
	}

	.title-detail {
		margin-bottom: 10px;
	}

	.container-princing-types {
		.cont-type-pricing {
			width: 30%;
		}
	}

	.icons-amenities {
		div {
			width: 20%;
		}

		.title-amenitie {
			font-size: 1rem;
		}
	}

	.office-list-card {
		margin-right: 20px !important;
		width: 280px !important;
	}

	.container-form-inquire {
		display: inline-block;
		position: sticky;
		bottom: 12px;
		width: 100%;
	}

	.cont-swiper-nearby {
		margin: 0;
		width: 100%;
	}

	.title-name-office {
		font-size: 1.2rem;
		line-height: 1.2rem;
		height: 42px;

		&.detail-office {
			font-size: 1.4rem;
			height: auto;
		}
	}

	.container-map-detail {
		height: 320px;
	}

}

