<section class="container-gallery-detail">
	<office-list-gallery-detail-office [images]="bussinesCenter?.images"></office-list-gallery-detail-office>
</section>
<section class="details-office-container">
	<div class="container-details">
		<div class="cont-title-sections	">
			<div class="container-breadcrumbs">
				<a class="linktoback" href=""> &lt; Back to list </a>
			</div>
			<p class="text-default">{{bussinesCenter?.descriptive_title}}</p>
			<h1 class="title-name-office detail-office">{{bussinesCenter?.cross_streets}}</h1>
			<p class="name-city">{{bussinesCenter?.city}}, {{bussinesCenter?.state}}
				{{bussinesCenter?.zipcode}}</p>
			<span class="badge-city">{{bussinesCenter?.area_name}}</span>
			<hr class="line-detail">
		</div>
		<div class="detail-container-info">
			<h4 class="title-detail">Pricing</h4>
			<div class="container-princing-types">
				<div class="card-white cont-type-pricing active">
					<figure class="image-type">
						<img src="assets/images/img-private-office.jpg" alt="">
					</figure>
					<button class="button-show-pricing">
						Private Office
						<i class="zwicon-chevron-down"></i>
					</button>
					<p class="title-starting">Starting at :</p>
					<p class="price-starting">$790</p>
				</div>
				<div class="card-white cont-type-pricing">
					<figure class="image-type">
						<img src="assets/images/img-coworking.jpg" alt="">
					</figure>
					<button class="button-show-pricing">
						Coworking
						<i class="zwicon-chevron-down"></i>
					</button>
					<p class="title-starting">Starting at :</p>
					<p class="price-starting">$790</p>
				</div>
				<div class="card-white cont-type-pricing">
					<figure class="image-type">
						<img src="assets/images/img-virtual-office.jpg" alt="">
					</figure>
					<button class="button-show-pricing">
						Virtual Office
						<i class="zwicon-chevron-down"></i>
					</button>
					<p class="title-starting">Starting at :</p>
					<p class="price-starting">$790</p>
				</div>
			</div>
			<div class="pricings-detail-container">
				<div class="card-white princing-type">
					<div class="container-titles">
						<div class="title-name">
							<p class="title-suboffice-type">Private Office</p>
							<h5 class="title-type-office">Executive Offices</h5>
						</div>
						<div class="price-offices">
							<p class="title-suboffice-type">Starting at</p>
							<p class="price-type">$1,199</p>
						</div>
					</div>
					<p class="description-type">
						Enclosed, -lockable offices, providing privacy for teams and individuals. Furnished,
						fully-serviced
						spaces.
					</p>
					<div class="container-description-items">
						<div class="includes-container">
							<p class="title-items">Includes</p>
							<ul class="items-description">
								<li>- 5 Hours of conference room</li>
								<li>- 24/7 Access</li>
							</ul>
						</div>
						<div class="bestfor-container">
							<p class="title-items">Best for</p>
							<ul class="items-description">
								<li>- Large companies</li>
								<li>- Established businesses</li>
								<li>- People that need privacy for their tasks</li>
							</ul>
						</div>
					</div>
					<button class="button-like-type">
						<i class="zwicon-heart"></i>
					</button>
				</div>
				<div class="card-white princing-type">
					<div class="container-titles">
						<div class="title-name">
							<p class="title-suboffice-type">Private Office</p>
							<h5 class="title-type-office">Executive Offices</h5>
						</div>
						<div class="price-offices">
							<p class="title-suboffice-type">Starting at</p>
							<p class="price-type">$1,199</p>
						</div>
					</div>
					<p class="description-type">
						Enclosed, -lockable offices, providing privacy for teams and individuals. Furnished,
						fully-serviced
						spaces.
					</p>
					<div class="container-description-items">
						<div class="includes-container">
							<p class="title-items">Includes</p>
							<ul class="items-description">
								<li>- 5 Hours of conference room</li>
								<li>- 24/7 Access</li>
							</ul>
						</div>
						<div class="bestfor-container">
							<p class="title-items">Best for</p>
							<ul class="items-description">
								<li>- Large companies</li>
								<li>- Established businesses</li>
								<li>- People that need privacy for their tasks</li>
							</ul>
						</div>
					</div>
					<button class="button-like-type">
						<i class="zwicon-heart"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="detail-container-info">
			<h4 class="title-detail">Description</h4>
			<p class="description-office-text">
				{{bussinesCenter?.detailed_intro}}
			</p>
		</div>
		<div class="detail-container-info">
			<h4 class="title-detail">Amenities</h4>
			<ul class="icons-amenities">
				<li *ngFor="let amenitie of bussinesCenter?.amenities">
					<figure class="container-icon">
						<i class="amenitie-icon {{amenitie.icon}}"></i>
					</figure>
					<p class="title-amenitie">
						{{amenitie.name}}
					</p>
				</li>
			</ul>
		</div>
		<div class="detail-container-info">
			<h4 class="title-detail">Map</h4>
			<office-list-map-detail [lat]="bussinesCenter?.latitude" [lng]="bussinesCenter?.longitude">
			</office-list-map-detail>
		</div>
	</div>
	<div class="container-side-form">
		<div class="container-form-inquire">
			<office-list-form-inquire-now></office-list-form-inquire-now>
		</div>
	</div>
</section>
<section class="nearby-locations-container">
	<h2 class="title-home">
		Nearby Locations
	</h2>
	<hr>
	<div class="cont-swiper-nearby">
		<swiper class="nearby-swiper" [config]="config">
			<div class="swiper-wrapper">
				<div class="swiper-slide office-list-card card-white" *ngFor="let bc of bussinesCenter?.nearby">
					<figure class="img-card-office">
						<i class="icon-star-office"></i>
						<img appLazyLoad [src]="bc.principalImage" alt="">
						<button class="button-icon" id="btn-list-search" (click)="showModalDetail()">
							<i class="zwicon-plus"></i>
						</button>
					</figure>
					<div class="info-office-container">
						<p class="text-default">{{bc.descriptive_title}}</p>
						<h3 class="title-name-office">{{bc.cross_streets}}</h3>
						<p class="name-city">{{bc.city}}, {{bc.zip_code}}</p>
						<span class="badge-city">{{bc.area_name}}</span>
						<p class="phone-number">
							<i class="zwicon-phone"></i>
							{{bc.phone}}
						</p>
						<div class="price-container">
							<button class="button-show-price">
								<h3 class="title-price">
									Starting at :
								</h3>
							</button>
							<ul class="list-prices-office">
								<li *ngFor="let office of bc.offices.slice(0, 2);">
									<p class="price-office">${{office.off_pricing}}</p>
									<p class="type-office">{{office.off_type}}</p>
								</li>
							</ul>
						</div>
						<div class="btn-container">
							<button class="button-default primary">
								Get quote
							</button>
						</div>
						<div class="like-container">
							<button class="button-icon-like">
								<office-list-svglikeheart></office-list-svglikeheart>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</swiper>
	</div>
</section>
