<section class="container-gallery-detail">
	<office-list-gallery-detail-office></office-list-gallery-detail-office>
</section>
<section class="details-office-container">
	<article class="cont-title-section">
		<p class="text-default">Office</p>
		<h1 class="title-name-office detail-office">Preston Rd & Weldon Howell Pkwy Howell Pkwy</h1>
		<p class="name-city">Miami, FL 33131</p>
		<span class="badge-city">Downtown/Brickell</span>
		<hr class="line-detail">
	</article>
	<article class="detail-container">
		<h4 class="title-detail">Pricing</h4>
		<div class="container-princing-types">
			<div class="card-white cont-type-pricing active">
				<figure class="image-type">
					<img src="assets/images/img-private-office.jpg" alt="">
				</figure>
				<button class="button-show-pricing">
					Private Office
					<i class="zwicon-chevron-down"></i>
				</button>
				<p class="title-starting">Starting at :</p>
				<p class="price-starting">$790</p>
			</div>
			<div class="card-white cont-type-pricing">
				<figure class="image-type">
					<img src="assets/images/img-coworking.jpg" alt="">
				</figure>
				<button class="button-show-pricing">
					Coworking
					<i class="zwicon-chevron-down"></i>
				</button>
				<p class="title-starting">Starting at :</p>
				<p class="price-starting">$790</p>
			</div>
			<div class="card-white cont-type-pricing">
				<figure class="image-type">
					<img src="assets/images/img-virtual-office.jpg" alt="">
				</figure>
				<button class="button-show-pricing">
					Virtual Office
					<i class="zwicon-chevron-down"></i>
				</button>
				<p class="title-starting">Starting at :</p>
				<p class="price-starting">$790</p>
			</div>
		</div>
		<div class="pricings-detail-container">
			<div class="card-white princing-type">
				<div class="container-titles">
					<div class="title-name">
						<p class="title-suboffice-type">Private Office</p>
						<h5 class="title-type-office">Executive Offices</h5>
					</div>
					<div class="price-offices">
						<p class="title-suboffice-type">Starting at</p>
						<p class="price-type">$1,199</p>
					</div>
				</div>
				<p class="description-type">
					Enclosed, -lockable offices, providing privacy for teams and individuals. Furnished, fully-serviced
					spaces.
				</p>
				<div class="container-description-items">
					<div class="includes-container">
						<p class="title-items">Includes</p>
						<ul class="items-description">
							<li>- 5 Hours of conference room</li>
							<li>- 24/7 Access</li>
						</ul>
					</div>
					<div class="bestfor-container">
						<p class="title-items">Best for</p>
						<ul class="items-description">
							<li>- Large companies</li>
							<li>- Established businesses</li>
							<li>- People that need privacy for their tasks</li>
						</ul>
					</div>
				</div>
				<button class="button-like-type">
					<i class="zwicon-heart"></i>
				</button>
			</div>
			<div class="card-white princing-type">
				<div class="container-titles">
					<div class="title-name">
						<p class="title-suboffice-type">Private Office</p>
						<h5 class="title-type-office">Executive Offices</h5>
					</div>
					<div class="price-offices">
						<p class="title-suboffice-type">Starting at</p>
						<p class="price-type">$1,199</p>
					</div>
				</div>
				<p class="description-type">
					Enclosed, -lockable offices, providing privacy for teams and individuals. Furnished, fully-serviced
					spaces.
				</p>
				<div class="container-description-items">
					<div class="includes-container">
						<p class="title-items">Includes</p>
						<ul class="items-description">
							<li>- 5 Hours of conference room</li>
							<li>- 24/7 Access</li>
						</ul>
					</div>
					<div class="bestfor-container">
						<p class="title-items">Best for</p>
						<ul class="items-description">
							<li>- Large companies</li>
							<li>- Established businesses</li>
							<li>- People that need privacy for their tasks</li>
						</ul>
					</div>
				</div>
				<button class="button-like-type">
					<i class="zwicon-heart"></i>
				</button>
			</div>
		</div>
	</article>
	<article class="detail-container">
		<h4 class="title-detail">Description</h4>
		<p class="description-office-text">
			Miami state-of-the-art shared workspace for entrepreneurs, creative professionals, and small businesses. Our
			flexible workspace options are listed below: SEAT (from $249/month) Upgrade from your home office - or local
			Starbucks - without breaking the bank. Just grab any available SEAT at our communal worktables and get down
			to business. Includes high-speed connections, and access to a host of amenities such as meeting rooms,
			lockers, color printers, and more. From $199/month. STATION (from $449/month): Get your own spacious desk
			with large window in an open plan environment. Available for both individuals and small teams. Includes
			access to all of our amenities. STUDIO ($649/month): Enjoy a little more privacy and storage in our stylish
			and super-functional glass studios from Herman Miller. Includes access to all of our amenities. SUITE (from
			$1199/month): Get your own private office. Literally. Four walls, nice views, and some pretty sweet
			furnishings too. Available in different sizes and layouts for 1 - 4 people. Includes access to all of our
			amenities.
		</p>
	</article>
	<article class="detail-container">
		<h4 class="title-detail">Amenities</h4>
		<swiper class="amenities-swiper" [config]="config">
			<div class="swiper-wrapper">
				<div class="swiper-slide icons-amenities">
					<div>
						<figure class="container-icon">
							<i class="zwicon-stand-up"></i>
						</figure>
						<p class="title-amenitie">
							Lighting Fast Internet / WiFi
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-information-architecture"></i>
						</figure>
						<p class="title-amenitie">
							Mail & Package Handling
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-receipt"></i>
						</figure>
						<p class="title-amenitie">
							Daily Cleaning Services
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-stand-up"></i>
						</figure>
						<p class="title-amenitie">
							Lighting Fast Internet / WiFi
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-information-architecture"></i>
						</figure>
						<p class="title-amenitie">
							Mail & Package Handling
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-receipt"></i>
						</figure>
						<p class="title-amenitie">
							Daily Cleaning Services
						</p>
					</div>
				</div>
				<div class="swiper-slide icons-amenities">
					<div>
						<figure class="container-icon">
							<i class="zwicon-stand-up"></i>
						</figure>
						<p class="title-amenitie">
							Lighting Fast Internet / WiFi
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-information-architecture"></i>
						</figure>
						<p class="title-amenitie">
							Mail & Package Handling
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-receipt"></i>
						</figure>
						<p class="title-amenitie">
							Daily Cleaning Services
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-stand-up"></i>
						</figure>
						<p class="title-amenitie">
							Lighting Fast Internet / WiFi
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-information-architecture"></i>
						</figure>
						<p class="title-amenitie">
							Mail & Package Handling
						</p>
					</div>
					<div>
						<figure class="container-icon">
							<i class="zwicon-receipt"></i>
						</figure>
						<p class="title-amenitie">
							Daily Cleaning Services
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</swiper>
	</article>
	<article class="detail-container">
		<h4 class="title-detail">Map</h4>
		<div class="container-map-detail">
			<iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=miami&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		</div>
	</article>
</section>
<section class="nearby-locations-container">
	<h2 class="title-home">
		Nearby Locations
	</h2>
	<hr>
	<article class="cont-swiper-nearby">
		<swiper class="nearby-swiper" [config]="config">
			<div class="swiper-wrapper">
				<div class="swiper-slide office-list-card card-white">
					<figure class="img-card-office">
						<i class="icon-star-office"></i>
						<img src="assets/images/img-office-exmp.jpg" alt="">
						<button class="button-icon" id="btn-list-search" (click)="showModalDetail()">
							<i class="zwicon-plus"></i>
						</button>
					</figure>
					<div class="info-office-container">
						<p class="text-default">Office</p>
						<h3 class="title-name-office">Preston Rd & Weldon Howell Pkwy Howell Pkwy</h3>
						<p class="name-city">Miami, FL 33131</p>
						<span class="badge-city">Downtown/Brickell</span>
						<p class="phone-number">
							<i class="zwicon-phone"></i>
							2345678923492304
						</p>

						<div class="price-container">
							<button class="button-show-price">
								<h3 class="title-price">
									Starting at :
								</h3>
							</button>
							<ul class="list-prices-office">
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Private office</p>
								</li>
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Coworking</p>
								</li>
								<li>
									<p class="price-office">$1234</p>
									<p class="type-office">Virtual office</p>
								</li>
							</ul>
						</div>
						<div class="btn-container">
							<button class="button-default primary">
								Get quote
							</button>
							<p class="text-default">
								<em>
									Call for pricing
								</em>
							</p>
						</div>
						<div class="like-container">
							<button class="button-icon-like">
								<office-list-svglikeheart></office-list-svglikeheart>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide office-list-card card-white">
					<figure class="img-card-office">
						<i class="icon-star-office"></i>
						<img src="assets/images/img-office-exmp.jpg" alt="">
						<button class="button-icon" id="btn-list-search" (click)="showModalDetail()">
							<i class="zwicon-plus"></i>
						</button>
					</figure>
					<div class="info-office-container">
						<p class="text-default">Office</p>
						<h3 class="title-name-office">Preston Rd & Weldon Howell Pkwy Howell Pkwy</h3>
						<p class="name-city">Miami, FL 33131</p>
						<span class="badge-city">Downtown/Brickell</span>
						<p class="phone-number">
							<i class="zwicon-phone"></i>
							2345678923492304
						</p>

						<div class="price-container">
							<button class="button-show-price">
								<h3 class="title-price">
									Starting at :
								</h3>
							</button>
							<ul class="list-prices-office">
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Private office</p>
								</li>
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Coworking</p>
								</li>
								<li>
									<p class="price-office">$1234</p>
									<p class="type-office">Virtual office</p>
								</li>
							</ul>
						</div>
						<div class="btn-container">
							<button class="button-default primary">
								Get quote
							</button>
							<p class="text-default">
								<em>
									Call for pricing
								</em>
							</p>
						</div>
						<div class="like-container">
							<button class="button-icon-like">
								<office-list-svglikeheart></office-list-svglikeheart>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide office-list-card card-white">
					<figure class="img-card-office">
						<i class="icon-star-office"></i>
						<img src="assets/images/img-office-exmp.jpg" alt="">
						<button class="button-icon" id="btn-list-search" (click)="showModalDetail()">
							<i class="zwicon-plus"></i>
						</button>
					</figure>
					<div class="info-office-container">
						<p class="text-default">Office</p>
						<h3 class="title-name-office">Preston Rd & Weldon Howell Pkwy Howell Pkwy</h3>
						<p class="name-city">Miami, FL 33131</p>
						<span class="badge-city">Downtown/Brickell</span>
						<p class="phone-number">
							<i class="zwicon-phone"></i>
							2345678923492304
						</p>

						<div class="price-container">
							<button class="button-show-price">
								<h3 class="title-price">
									Starting at :
								</h3>
							</button>
							<ul class="list-prices-office">
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Private office</p>
								</li>
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Coworking</p>
								</li>
								<li>
									<p class="price-office">$1234</p>
									<p class="type-office">Virtual office</p>
								</li>
							</ul>
						</div>
						<div class="btn-container">
							<button class="button-default primary">
								Get quote
							</button>
							<p class="text-default">
								<em>
									Call for pricing
								</em>
							</p>
						</div>
						<div class="like-container">
							<button class="button-icon-like">
								<office-list-svglikeheart></office-list-svglikeheart>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide office-list-card card-white">
					<figure class="img-card-office">
						<i class="icon-star-office"></i>
						<img src="assets/images/img-office-exmp.jpg" alt="">
						<button class="button-icon" id="btn-list-search" (click)="showModalDetail()">
							<i class="zwicon-plus"></i>
						</button>
					</figure>
					<div class="info-office-container">
						<p class="text-default">Office</p>
						<h3 class="title-name-office">Preston Rd & Weldon Howell Pkwy Howell Pkwy</h3>
						<p class="name-city">Miami, FL 33131</p>
						<span class="badge-city">Downtown/Brickell</span>
						<p class="phone-number">
							<i class="zwicon-phone"></i>
							2345678923492304
						</p>

						<div class="price-container">
							<button class="button-show-price">
								<h3 class="title-price">
									Starting at :
								</h3>
							</button>
							<ul class="list-prices-office">
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Private office</p>
								</li>
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Coworking</p>
								</li>
								<li>
									<p class="price-office">$1234</p>
									<p class="type-office">Virtual office</p>
								</li>
							</ul>
						</div>
						<div class="btn-container">
							<button class="button-default primary">
								Get quote
							</button>
							<p class="text-default">
								<em>
									Call for pricing
								</em>
							</p>
						</div>
						<div class="like-container">
							<button class="button-icon-like">
								<office-list-svglikeheart></office-list-svglikeheart>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide office-list-card card-white">
					<figure class="img-card-office">
						<i class="icon-star-office"></i>
						<img src="assets/images/img-office-exmp.jpg" alt="">
						<button class="button-icon" id="btn-list-search" (click)="showModalDetail()">
							<i class="zwicon-plus"></i>
						</button>
					</figure>
					<div class="info-office-container">
						<p class="text-default">Office</p>
						<h3 class="title-name-office">Preston Rd & Weldon Howell Pkwy Howell Pkwy</h3>
						<p class="name-city">Miami, FL 33131</p>
						<span class="badge-city">Downtown/Brickell</span>
						<p class="phone-number">
							<i class="zwicon-phone"></i>
							2345678923492304
						</p>

						<div class="price-container">
							<button class="button-show-price">
								<h3 class="title-price">
									Starting at :
								</h3>
							</button>
							<ul class="list-prices-office">
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Private office</p>
								</li>
								<li>
									<p class="price-office">$800</p>
									<p class="type-office">Coworking</p>
								</li>
								<li>
									<p class="price-office">$1234</p>
									<p class="type-office">Virtual office</p>
								</li>
							</ul>
						</div>
						<div class="btn-container">
							<button class="button-default primary">
								Get quote
							</button>
							<p class="text-default">
								<em>
									Call for pricing
								</em>
							</p>
						</div>
						<div class="like-container">
							<button class="button-icon-like">
								<office-list-svglikeheart></office-list-svglikeheart>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</swiper>

	</article>
</section>
<div class="container-form-inquire">
	<office-list-form-inquire-now></office-list-form-inquire-now>
</div>
