/* You can add global styles to this file, and also import other style files */
@import 'index';
@import 'base/reset';
@import 'base/animations';
@import 'base/global';
@import 'theme/index';
@import 'abstracts/variables';

body {
    background: #F8F8F8;
    font-weight: 300;
    position: relative;
}

section {
    margin: 10px 0 0;
    padding: 20px 0;
}

article {
    margin: 0 auto;
    max-width: 1150px;
    width: 90%;
}

input,
textarea {
    &:hover,
    &:focus {
        outline: 0;
    }
}

.page-container {
    padding: 0.01em 16px;
    width: 100%;
    min-width: 320px;
    max-width: $page-max-width;
    margin: 0 auto;
}
 
.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 30px;
    width: 30px;

    &.facebook {
        background-image: url('assets/images/icons/icon-facebook.svg');
    }

    &.linkedin {
        background-image: url('assets/images/icons/icon-linkedin.svg');
    }

    &.twitter {
        background-image: url('assets/images/icons/icon-twitter.svg');
    }
}

.group-form {
    position: relative;
}

html,
body { height: 100%; }
body { margin: 0; font-family: Roboto, 'Helvetica Neue', sans-serif; }
