/* You can add global styles to this file, and also import other style files */
@import 'index';

@import 'base/reset';
@import 'base/animations';
@import 'base/global';


.page-container {
    padding: 0.01em 16px;
    width: 100%;
    min-width: 320px;
    max-width: $page-max-width;
    margin: 0 auto;
}
