@import 'variables';

a {
	color: colors('primary');
}

button {
	position: relative;

	&:hover,
	&:focus,
	&:visited {
		outline: 0;
	}
}

.title-home {
    color: colors('black');
    font-size: 2.2rem;
	font-weight: 300;
	line-height: 2.4rem;
    text-align: center;
}

.button-default {
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 20px auto;
    padding: 10px 12px;
    width: 100%;

    &.primary {
        background-color: colors('primary');
        color: colors('white');

        &:hover {
            background-color: colors('white');
            color: colors('primary');
        }
    }

    &.secondary {
        background-color: colors('white');
        color: colors('primary');

        &:hover {
            background-color: colors('primary');
            color: colors('white');
        }
	}

	&.secondary-line {
		background-color: colors('white');
		border: 1px solid colors('primary');
        color: colors('primary');

        &:hover {
			background-color: colors('white');
			border: 1px solid colors('white');
			border: 0px ;
			color: colors('primary');
        }
    }
}

.button-close-icon {
	color: colors('primary');
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 0;
	margin-bottom: 6px;
	text-align: right;
	width: 100%;
}

.title-pages {
    color: colors('primary');
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 20px;
    text-align: center;
}

.text-intro {
    font-size: 1.3rem;
}

h3 {
    color: colors('primary');
	font-size: 1.2rem;
	line-height: 1.2rem;
}

hr {
    border: 2px solid colors('primary');
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 200px;
}

.text-rigth {
	text-align: right;
}

.card-white {
    background: colors('white');
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.text-big-quote {
    color: colors('white');
    font-size: 1.4rem;
    text-align: center;
}

/* Form */
.group-form {
    padding: 14px 0 0;
    position: relative;

    i {
        color: colors('white');
        float: left;
        font-size: 1.6rem;
    }

    .label-default {
        color: colors('black-3');
		font-size: 1rem;
		font-weight: 300;
        left: 18px;
        position: absolute;
        transition: all 0.6s;
        transform: translate3d(0%, 100%, 0);
        z-index: 1;
    }

    .input-default {
        background-color: colors('black-1');
        border: 0;
        border-radius: 25px;
        font-size: 0.9rem;
		font-weight: 300;
		height: 40px;
        margin-top: 6px;
		padding: 10px 18px;
		width: 100%;

		&.textarea-input {
			border-radius: 6px;
			height: 70px;
			margin-bottom: 8px;
		}

		&.white {
			background-color: colors('white');
			color: colors('black-5');
			font-size: 0.9rem;
		}

        &:focus + .label-default,
        &:valid + .label-default {
			color: colors('primary');
            font-size: 70%;
            top: 0;
            transform: translate3d(0, 42%, 0);

		}
	}

	select {
		appearance: none;
		height: 40px;
	}

	&.selectt {
		.zwicon-chevron-down {
			color: colors('primary');
			position: absolute;
			right: 8px;
			font-size: 2.6rem;
			top: 20px;
		}
	}

	&.date-tour {
		.label-default {
			appearance: none;
			transform: translate3d(48%, 77%, 0);
		}

		.input-default {
			padding-left: 42px;
		}
		
		.zwicon-calendar-month {
			color: colors('primary');
			left: 14px;
			position: absolute;
			top: 28px;
		}
		
	}
	
	.btn-icon-input {
		font-size: 1.2rem;
		line-height: 0;
		position: absolute;
		right: 10px;
		top: 40px;

		i {
			color: colors('primary');
			line-height: 0;
		}

	}
}

.form-pressed-button {
    text-align: center;
}

.quote-mark {
    color: colors('primary');
    font-size: 8rem;
    font-weight: 700;
    line-height: 0;
    margin-top: 50px;
    text-align: center;
}

.name-testimonial {
    color: colors('white');
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;

    &:last-child {
        line-height: 1rem;
        margin-top: 0;
    }

    .info-testimonial {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
        text-align: center;
    }
}

.container-info-date {
	.container-button-modal {
		.button-default {
			margin-bottom: 0;
		}
	}

	.gray-line {
		margin-top: 20px;
	}
}

.badge-city {
    border-radius: 4px;
    background: colors('black-2');
    color: colors('black-6');
    font-size: 0.8rem;
    padding: 3px 12px;
}

.show-map-container {
    display: flex;
    flex-direction: row;
}

.text-show-map {
    color: colors('black-4');
    margin: 8px;
}

.container-modal-default {
	background: colors('white-8');
	height: 100%;
	position: relative;
	width: 100%;
}

.modal-default-site {
	background: colors('white');
	border-radius: 4px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
	left: 5%;
	margin-bottom: 20px;
	padding: 20px;
	position: absolute;
    top: 30px;
	width: 90%;
}

.header-modal {
	text-align: right;
	
	.btn-icon-transparent {
		color: colors('primary');
		font-size: 2rem;
		font-weight: 700;
		line-height: 0;	
	}
}

.body-modal {
	text-align: center;

	.container-search {
		.group-form {
			padding: 0;

			input {
				margin: 0;
			}

			.btn-icon-input {
				top: 20px;
			}
		}
	}

	.gray-line {
		border: 0.8px solid colors('black-2');
		margin: 10px 0;
		width: 100%;
	}

	.zwicon-user-circle,
	.zwicon-chat,
	.zwicon-calendar {
		color: colors('primary');
		font-size: 3.6rem;
	}

	.text-end-forms {
		color: colors('black-6');
		font-size: 0.8rem;
		margin: 0 auto;
		text-align: center;
		width: 60%;
	}
	
	.text-end-forms-terms {
		color: colors('black-6');
		font-size: 0.6rem;
		text-align: center;
		width: 100%;
	}

	.title-modal {
		font-size: 1.3rem;
		margin-bottom: 6px;
	}

	.intro-modal {
		color: colors('black-5');
		font-size: 1.1rem;
		margin: 8px 0;
	}

	.text-date-tour {
		color: colors('primary');
		font-size: 1.4rem;
		font-weight: 700;	
	}
}

