@import 'variables';

.button-default {
    border-radius: 25px;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 20px auto;
    padding: 10px 12px;
    width: 80%;

    &.primary {
        background-color: colors('primary');
        color: colors('white');

        &:hover {
            background-color: colors('white');
            color: colors('primary');
        }
    }

    &.secondary {
        background-color: colors('white');
        color: colors('primary');

        &:hover {
            background-color: colors('primary');
            color: colors('white');
        }
    }
}

.title-home {
    color: colors('black');
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

hr {
    border: 2px solid colors('primary');
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 200px;
}

.card-white {
    background: colors('white');
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.text-big-quote {
    color: colors('white');
    font-size: 1.4rem;
    text-align: center;
}

/* Form */
.group-form {
    padding: 16px 0 0;
    position: relative;

    i {
        color: colors('white');
        float: left;
        font-size: 1.6rem;
    }

    .label-default {
        color: colors('black-3');
        font-size: 1.2rem;
        left: 18px;
        position: absolute;
        transition: all 0.6s;
        transform: translate3d(6%, 68%, 0);
        z-index: 1;
    }

    .input-default {
        background-color: colors('white-8');
        border: 0;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: 300;
        margin-top: 6px;
        padding: 10px 18px;
        width: 100%;

        &:focus + .label-default,
        &:valid + .label-default {
            font-size: 100%;
            top: 0;
            transform: translate3d(8px, 114%, 0);

            &.white {
                color: colors('white');
            }
        }
    }
}

.form-pressed-button {
    text-align: center;
}

.quote-mark {
    color: colors('primary');
    font-size: 8rem;
    font-weight: 700;
    line-height: 0;
    margin-top: 50px;
    text-align: center;
}

.name-testimonial {
    color: colors('white');
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;

    &:last-child {
        line-height: 1rem;
        margin-top: 0;
    }

    .info-testimonial {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
        text-align: center;
    }
}
